<ion-grid>
  <ion-row center wrap>
    <ion-col col-3 *ngFor="let item of items" class="grid-col">
      <div class="grid-content" (click)="goToDetailPage(item.MODULE_ID)">
        <a>
          <img [src]="item.ICON_URL" class="grid-img">
          <div class="grid-name">{{item.MODULE_NAME}}</div>
        </a>
      </div>
      <ion-icon name="remove-circle" class="remove-circle red" *ngIf="(type==='remove') && showBtn" (click)="selectItem(item.MODULE_ID)"></ion-icon>
      <ion-icon name="add-circle" class="add-circle green" *ngIf="(type ==='add') && showBtn" (click)="selectItem(item.MODULE_ID)"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
