sg-photo-view{
  .container {
    width:320px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  .photo-container {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    margin: 4px;
    &.has-photo {
      border: none;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
