<ion-header>
  <ion-navbar>
    <ion-title>{{type | sgFormType | sgChineseConv}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list>
      <ion-item [class.has-error]="myValidators.startTime.error" [class.has-success]="myValidators.startTime.pass">
        <ion-label>*{{fontContent.startTime}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"  #start name="start" formControlName="startTime"
        [cancelText]="fontContent.cancle" [doneText]="fontContent.confirm"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item [class.has-error]="myValidators.endTime.error" [class.has-success]="myValidators.endTime.pass">
        <ion-label>*{{fontContent.endTime}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"  #end name="end" formControlName="endTime"
        [cancelText]="fontContent.cancle" [doneText]="fontContent.confirm"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="timeError " class='alert'>{{timeError}}</ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button class="submit" type="submit" [disabled]="!todo.valid || timeError ">{{fontContent.submit}}</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
