<ion-header>
  <ion-navbar>
    <ion-title>{{'inspection.ipqa.exceptionTitle' | translate}}</ion-title>
    <ion-buttons start *ngIf="this.fromPage === 'checklist'">
      <button ion-button (click)="goBack()">{{'inspection.ipqa.goBack' | translate}}</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button type="submit" (tap)="submitException()" [disabled]="!formModel.valid">{{'inspection.ipqa.submit' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="formModel" (submit)="submitException()">
    <ion-list>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.inspectDate' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-item class="my-item">
            <ion-datetime type="datetime-local" displayFormat="YYYY/MM/DD" formControlName="INSPECT_DATE" [class.my-invalid]="formModel.get('INSPECT_DATE').invalid && formModel.get('checkDate').touched"></ion-datetime>
          </ion-item>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.banbie' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="DUTY_KIND" [class.my-invalid]="formModel.get('DUTY_KIND').invalid && formModel.get('DUTY_KIND').touched"></ion-input>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.line' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="LOCATION" [class.my-invalid]="formModel.get('LOCATION').invalid && formModel.get('LOCATION').touched">
          </ion-input>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.inspector' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <sg-search-emp formControlName="INSPECTOR" [opt]="{formCtr:formModel.get('INSPECTOR')}"></sg-search-emp>
          <!-- <ion-input type="text" formControlName="checkPerson" [class.my-invalid]="formModel.get('checkPerson').invalid && formModel.get('checkPerson').touched"></ion-input> -->
          <!-- <div formControlName="checkPerson">
            <div *ngFor="let person of formModel.get('checkPersons').controls;let i=index">
              <div class="plus">
                <ion-input type="text" [formControlName]="i"></ion-input>
                <div class="plus-img">
                  <span class="iconfontyyy" (tap)="addCheckPerson()" *ngIf="i==0">&#xe649;</span>
                  <span class="iconfontyyy" (tap)="removeCheckPerson(i)" *ngIf="i>0">&#xe61a;</span>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.checklist' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="CHECK_LIST_CN" cols="10" rows="4" [class.my-invalid]="formModel.get('CHECK_LIST_CN').invalid && formModel.get('CHECK_LIST_CN').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.exceptionDesc' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="PROBLEM_DESC" cols="10" rows="4" [class.my-invalid]="formModel.get('PROBLEM_DESC').invalid && formModel.get('PROBLEM_DESC').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>{{'inspection.ipqa.pictures' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <!-- <ul formArrayName="pictures">
                <li *ngFor="let picture of formModel.get('pictures').controls;let i=index">
                  <ion-input type="text" [formControlName]="i"></ion-input>
                </li>
              </ul>
              <button ion-button (tap)="addPictures()">addPictures</button> -->
          <sg-photo-view (imgsChange)="getImages($event)" [imgs]="images" [opts]="photoViewOptions"></sg-photo-view>
        </div>
      </div>
      <div class="my-row" *ngIf="(fromPage === 'teamLeader')||(fromPage === 'handler')">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.handler' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <!-- <sg-search-emp formControlName="handler" [opt]="{formCtr:formModel.get('handler')}"></sg-search-emp> -->
          <div class="plus">
            <sg-search-emp formControlName="OWNER_EMPNO" [opt]="{formCtr:formModel.get('OWNER_EMPNO')}"></sg-search-emp>
            <div class="plus-img" *ngIf="fromPage === 'handler'" (tap)="resetOwner()">
              <span class="iconfontyyy">&#xe633;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="my-row" *ngIf="fromPage === 'handler'">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.actionDesc' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="ACTION_DESC" cols="10" rows="4" [class.my-invalid]="formModel.get('ACTION_DESC').invalid && formModel.get('ACTION_DESC').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row" *ngIf="fromPage === 'handler'">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.actionStatus' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="ACTION_STATUS" cols="10" rows="4" [class.my-invalid]="formModel.get('ACTION_STATUS').invalid && formModel.get('ACTION_STATUS').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row" *ngIf="fromPage === 'handler'">
        <div class="left-col">
          <ion-label>{{'inspection.ipqa.actionPictures' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <sg-photo-view [imgs]="actionPictures" (imgsChange)="getActionPicture($event)"></sg-photo-view>
        </div>
      </div>
      <div class="my-row" *ngIf="fromPage === 'handler'">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.actionDate' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-item class="my-item">
            <ion-datetime type="datetime-local" displayFormat="YYYY/MM/DD" formControlName="ACTION_DATE" [class.my-invalid]="formModel.get('ACTION_DATE').invalid && formModel.get('ACTION_DATE').touched"></ion-datetime>
          </ion-item>
        </div>
      </div>
      <!-- <ion-item>
      <ion-label>负责人</ion-label>
      <sg-search-colleague formControlName="handler" [opt]="{formCtr:formModel.get('handler')}">
      </sg-search-colleague>
      </ion-item> -->
    </ion-list>
  </form>
</ion-content>
