<ion-header>
  <ion-navbar>
    <ion-title>{{'inspection.ipqa.exceptionTitle' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="goBack()">{{'inspection.ipqa.goBack' | translate}}</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button type="submit" (tap)="submitException()" [disabled]="!formModel.valid">{{'inspection.ipqa.submit' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="formModel" (submit)="submitException()">
    <ion-list>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.inspectDate' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-item class="my-item">
            <ion-datetime type="datetime-local" displayFormat="YYYY/MM/DD" formControlName="checkDate" [class.my-invalid]="formModel.get('checkDate').invalid && formModel.get('checkDate').touched"></ion-datetime>
          </ion-item>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.banbie' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="banbie" [class.my-invalid]="formModel.get('banbie').invalid && formModel.get('banbie').touched"></ion-input>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.line' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="address" [class.my-invalid]="formModel.get('address').invalid && formModel.get('address').touched">
          </ion-input>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.inspector' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="checkPerson" [class.my-invalid]="formModel.get('checkPerson').invalid && formModel.get('checkPerson').touched"></ion-input>
          <!-- <div formControlName="checkPerson">
            <div *ngFor="let person of formModel.get('checkPersons').controls;let i=index">
              <div class="plus">
                <ion-input type="text" [formControlName]="i"></ion-input>
                <div class="plus-img">
                  <span class="iconfontyyy" (tap)="addCheckPerson()" *ngIf="i==0">&#xe649;</span>
                  <span class="iconfontyyy" (tap)="removeCheckPerson(i)" *ngIf="i>0">&#xe61a;</span>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.checklist' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="checklist_cn" cols="10" rows="4" [class.my-invalid]="formModel.get('checklist_cn').invalid && formModel.get('checklist_cn').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.exceptionDesc' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-textarea formControlName="exceptionDesc" cols="10" rows="4" [class.my-invalid]="formModel.get('exceptionDesc').invalid && formModel.get('exceptionDesc').touched"></ion-textarea>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>{{'inspection.ipqa.pictures' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <!-- <ul formArrayName="pictures">
                <li *ngFor="let picture of formModel.get('pictures').controls;let i=index">
                  <ion-input type="text" [formControlName]="i"></ion-input>
                </li>
              </ul>
              <button ion-button (tap)="addPictures()">addPictures</button> -->
          <sg-photo-view destinationType=1></sg-photo-view>
        </div>
      </div>
      <div class="my-row" *ngIf="fromPage === 'handler'">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.handler' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input [class.my-invalid]="formModel.get('handler').invalid && formModel.get('handler').touched" type="text" formControlName="handler"></ion-input>
        </div>
      </div>
      <!-- <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.PQE' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="PQE" [class.my-invalid]="formModel.get('PQE').invalid && formModel.get('PQE').touched"></ion-input>
        </div>
      </div>
      <div class="my-row">
        <div class="left-col">
          <ion-label>*{{'inspection.ipqa.closer' | translate}}:</ion-label>
        </div>
        <div class="right-col">
          <ion-input type="text" formControlName="closer" [class.my-invalid]="formModel.get('closer').invalid && formModel.get('closer').touched"></ion-input>
        </div>
      </div> -->
    </ion-list>
  </form>
</ion-content>
