<ion-header>
  <ion-navbar>
    <ion-title>{{type | sgFormType | sgChineseConv}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="myList">
    <button ion-item *ngFor="let item of items">
      <h2 no-padding class="myRow">
        <ion-row>
          <p>{{ user.empno }}</p>
          <p>{{ user.nickname }}</p>
        </ion-row>
        <ion-row>
          <p>{{item.IDATE.replace("T",'0').substr(0,10) | sgMydate:"MM/DD/YY"}}</p>
          <p>{{fontContent.week}}{{item.IWEEK}}</p>
        </ion-row>
        <ion-row>
          <p>{{item.ACT_ITIME1?item.ACT_ITIME1:'没有记录'| sgChineseConv}}</p>
          <p>{{item.ACT_ITIME4?item.ACT_ITIME4:'没有记录'| sgChineseConv}}</p>
        </ion-row>
        <ion-row>
          <p>{{item.ACT_ITIME3?item.ACT_ITIME3:'没有记录'| sgChineseConv}}</p>
          <p>{{item.ACT_ITIME2?item.ACT_ITIME2:'没有记录'| sgChineseConv}}</p>
        </ion-row>
        <ion-row>
          <p>{{fontContent.off_hour}}:{{item.OFF_HOURS.toFixed(2)}}</p>
          <p>{{fontContent.work_hour}}:{{item.WORK_HOURS.toFixed(2)}}</p>
        </ion-row>
      </h2>
    </button>
  </ion-list>
</ion-content>
