<ion-header>
  <ion-navbar>
    <ion-title>巡檢報告評分</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <sg-query-date [mri_type]="mri_type" [name_id]="name_id" (name_id_change)="nameIdChange($event)" [(start_date)]="start_date" (start_date_change)="stratDateChange($event)"
    [(end_date)]="end_date" (end_date_change)="endDateChange($event)"></sg-query-date>
  <ion-toolbar color="light">
    <ion-segment class="top_segment" [(ngModel)]="top_segment">
      <ion-segment-button (click)="select(0)" value="top_0">
        未交報告
      </ion-segment-button>
      <ion-segment-button (click)="select(1)" value="top_1">
        未評分
      </ion-segment-button>
      <ion-segment-button (click)="select(2)" value="top_2">
        已評分
      </ion-segment-button>
      <ion-segment-button (click)="select(3)" value="top_3">
        全部
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides (pan)="panEvent($event)" #mySlider (ionDrag)="onSlideChanged($event)">
    <ion-slide>
      <div class="fixed-content">
        <ion-list >
          <ion-item class="list">
              <div class="content">第24組 2017/07/30 江芳雄 7:40~17:08 8H</div>
            <!-- <button type="button" outline class="check" (tap)="goToCheckReport()">巡檢報告</button> -->
          </ion-item>
          <ion-item class="list">
              <div class="content">第25組 2017/08/06 江芳雄 7:40~17:08 8H</div>
            <!-- <button type="button" outline class="check">巡檢報告</button> -->
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <ion-list-header>
            未產生補休
          </ion-list-header>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list-header>
          已產生補休
        </ion-list-header>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list-header>
          全部
        </ion-list-header>
      </ion-scroll>
    </ion-slide>

  </ion-slides>

</ion-content>