sg-comment {
    .list{
        position: relative;
        font-size: 14px;
        .content{
            overflow: scroll;
        }
        .check{
            position: absolute;
            border-radius: 4px;
            border-width: 1px;
            width: 72px;
            height: 26px;
            border-style: solid;
            border-color: gray;
            // color: #387ef5;
            background-color: transparent;
             right: 2%;
             top:24%;
            font-size: 14px;
        }
    }
}