sg-equip-item {
  ion-grid {
    @media screen and (max-width: 350px) {
      min-width: 350px;
      overflow: scroll;
    }
  }
  .row {
    font-size: 1.4rem;
  }
  .label-ios {
    margin: 0 0;
  }
  .col {
    margin: -3px;
  }
}
