<div class="myTable">
  <table class="table table-striped table-bordered">
    <caption *ngIf="tableData.caption">{{tableData.caption | sgChineseConv}}</caption>
    <thead>
      <tr>
        <th *ngFor="let item of tableData.data[0]">{{item | sgChineseConv}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item1 of tableData.data.slice(1)">
        <th scope="row" [class.row1]="i == 0" *ngFor="let subitem of item1;let i = index">{{(i === 0?subitem:subitem | sgNum) | sgChineseConv}}</th>
      </tr>
    </tbody>
  </table>
</div>
