<ion-grid *ngIf="item">
    <ion-item>
      <ion-row>
        <ion-col col-5 *ngIf="item.INSPECT_DATE">
          {{item.INSPECT_DATE.substr(0,10)}} {{item.INSPECT_TIME}}
        </ion-col>
        <ion-col col-3 *ngIf="expression">
          {{item.OWNER_EMPNO?.split(',')[0]}}
        </ion-col>
        <ion-col col-4>
          {{item.LOCATION}}
        </ion-col>
        <ion-col col-10>
          {{item.PROBLEM_DESC}}
        </ion-col>
        <ion-col col-10>
          {{item.PROBLEM_STATUS}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>