<ion-header>
  <ion-navbar>
    <ion-title *ngIf="searchMes && searchMes.type">{{searchMes.type | sgFormType | sgChineseConv}}{{fontContent.title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list>
      <ion-item [class.has-error]="myValidators.type.error" [class.has-success]="myValidators.type.pass" style="display:none">
        <ion-label>*{{fontContent.form_type}}</ion-label>
        <ion-select [cancelText]="fontContent.cancle" [okText]="fontContent.confirm" formControlName="type">
          <ion-option *ngFor="let item of formType" [value]="item.type">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [class.has-error]="myValidators.startTime.error" [class.has-success]="myValidators.startTime.pass">
        <ion-label>{{fontContent.startTime}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"  #start name="start" formControlName="startTime"
        [cancelText]="fontContent.cancle" [doneText]="fontContent.confirm"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item [class.has-error]="myValidators.endTime.error" [class.has-success]="myValidators.endTime.pass">
        <ion-label>{{fontContent.endTime}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"  #end name="end" formControlName="endTime"
        [cancelText]="fontContent.cancle" [doneText]="fontContent.confirm"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="timeError " class='alert'>{{timeError}}</ion-item-divider>
      <ion-item [class.has-error]="myValidators.form_No.error" [class.has-success]="myValidators.form_No.pass">
        <ion-label>{{fontContent.form_No}}</ion-label>
        <ion-input formControlName="form_No"></ion-input>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.form_No.error" class='alert'>{{myValidators.form_No.error}}</ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button class="submit" type="submit" [disabled]="!todo.valid || timeError || myValidators.form_No.error ">提交</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
