<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="main-wrapper">
    <div class="top-half">
      <div class="avatar">{{personData.NICK_NAME.substr(-2) | sgChineseConv}}</div>
      <div class="name">{{personData.NICK_NAME | sgChineseConv}}</div>
      <div class="job-title">{{personData.JOB_TITLE | sgChineseConv}}</div>
      <div class="actions">
        <div class="tel">
          <div class="icon">
            <ion-icon name="ios-call-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{languageContent.makeCall}}
          </div>
        </div>
        <span class="line"></span>
        <div class="tel">
          <div class="icon">
            <ion-icon name="ios-chatboxes-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{languageContent.sendMessage}}
          </div>
        </div>
        <span class="line"></span>
        <div class="tel">
          <div class="icon">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{languageContent.sendEmail}}
          </div>
        </div>
        <span class="line"></span>
        <div class="tel">
          <div class="icon">
            <ion-icon name="ios-calendar-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{languageContent.schedule}}
          </div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="bottom-half">
      <ion-list>
        <ion-item>
          <div class="left">{{languageContent.englishName}}</div>
          <div class="right">{{personData.USER_NAME}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{languageContent.mobile}}</div>
          <div class="right">{{personData.MOBILE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{languageContent.telephone}}</div>
          <div class="right">{{personData.TELEPHONE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{languageContent.email}}</div>
          <div class="right">{{personData.EMAIL}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{languageContent.jobTitle}}</div>
          <div class="right">{{personData.JOB_TITLE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{languageContent.deptName}}</div>
          <div class="right">{{personData.DEPT_NAME}}</div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
