<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="main-wrapper">
    <div class="top-half">
      <img class="avatar img" [src]="personData.AVATAR_URL" alt="self-photo" *ngIf="personData.AVATAR_URL">
      <div class="avatar" *ngIf="!personData.AVATAR_URL">{{personData.NICK_NAME.substr(-2) | sgChineseConv}}</div>
      <div class="name" [class.hasPhoto]="personData.AVATAR_URL" *ngIf="personData">{{personData.NICK_NAME | sgChineseConv}}</div>
      <div class="job-title">{{personData.JOB_TITLE | sgChineseConv}}</div>
      <div class="actions">
        <a [href]="'tel:'+ personData.MOBILE " class="tel">
          <div class="icon">
            <ion-icon name="ios-call-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{'makeCall'| translate}}
          </div>
        </a>
        <span class="line"></span>
        <div class="tel" (tap)="goToChatPage()">
          <div class="icon">
            <ion-icon name="ios-chatboxes-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{'sendMessage'| translate}}
          </div>
        </div>
        <span class="line"></span>
        <a class="tel" [href]="'mailto:' + personData.EMAIL " (tap)="sendMail()">
          <div class="icon">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{'sendEmail'| translate}}
          </div>
        </a>
        <span class="line"></span>
        <div class="tel">
          <div class="icon">
            <ion-icon name="ios-calendar-outline"></ion-icon>
          </div>
          <div class="my-text">
            {{'schedule'| translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="bottom-half">
      <ion-list>
        <ion-item>
          <div class="left">{{'englishName'| translate}}</div>
          <div class="right">{{personData.USER_NAME}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{'mobile'| translate}}</div>
          <div class="right">{{personData.MOBILE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{'telephone'| translate}}</div>
          <div class="right">{{personData.TELEPHONE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{'email'| translate}}</div>
          <div class="right">{{personData.EMAIL}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{'jobTitle'| translate}}</div>
          <div class="right">{{personData.JOB_TITLE}}</div>
        </ion-item>
        <ion-item>
          <div class="left">{{'deptName'| translate}}</div>
          <div class="right">{{personData.DEPT_NAME}}</div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
