<ion-header>
  <ion-navbar>
    <ion-title>巡檢刷卡記錄</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="getBossDutyList()">查詢</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <sg-query-date [mri_type]="mri_type" [name_id]="name_id" (name_id_change)="nameIdChange($event)" [(start_date)]="start_date"
    (start_date_change)="stratDateChange($event)" [(end_date)]="end_date" (end_date_change)="endDateChange($event)"></sg-query-date>
  <ion-toolbar color="light">
    <ion-segment class="top_segment" [(ngModel)]="top_segment">
      <ion-segment-button (click)="select(0)" value="top_0">
        未刷卡
      </ion-segment-button>
      <ion-segment-button (click)="select(1)" value="top_1">
        未產生補休
      </ion-segment-button>
      <ion-segment-button (click)="select(2)" value="top_2">
        已產生補休
      </ion-segment-button>
      <ion-segment-button (click)="select(3)" value="top_3">
        全部
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides (pan)="panEvent($event)" #mySlider>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <ion-item class="list" *ngFor="let items of noCardByGroup" (tap)="goToCheckReport(items[0].HEADER_ID)">
            <div class="content" *ngFor="let item of items">第{{item.LINE_NUM}}組 {{item.SCHEDULE_DATE}} {{item.NAME}} <span *ngIf="item.ACUTAL_FROM_TIME">{{item.ACUTAL_FROM_TIME}}~{{item.ACTUAL_TO_TIME}}</span> <span *ngIf="item.ACTUAL_HOURS">{{item.ACTUAL_HOURS}}H</span></div>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <ion-item class="list" *ngFor="let items of noRepayByGroup">
            <div class="content" *ngFor="let item of items">第{{item.LINE_NUM}}組 {{item.SCHEDULE_DATE}} {{item.NAME}} <span *ngIf="item.ACUTAL_FROM_TIME">{{item.ACUTAL_FROM_TIME}}~{{item.ACTUAL_TO_TIME}}</span> <span *ngIf="item.ACTUAL_HOURS">{{item.ACTUAL_HOURS}}H</span></div>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <ion-item class="list" *ngFor="let items of RepayByGroup">
            <div class="content" *ngFor="let item of items">第{{item.LINE_NUM}}組 {{item.SCHEDULE_DATE}} {{item.NAME}} <span *ngIf="item.ACUTAL_FROM_TIME">{{item.ACUTAL_FROM_TIME}}~{{item.ACTUAL_TO_TIME}}</span> <span *ngIf="item.ACTUAL_HOURS">{{item.ACTUAL_HOURS}}H</span></div>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <ion-item class="list" *ngFor="let items of allByGroup">
            <div class="content" *ngFor="let item of items">第{{item.LINE_NUM}}組 {{item.SCHEDULE_DATE}} {{item.NAME}} <span *ngIf="item.ACUTAL_FROM_TIME">{{item.ACUTAL_FROM_TIME}}~{{item.ACTUAL_TO_TIME}}</span> <span *ngIf="item.ACTUAL_HOURS">{{item.ACTUAL_HOURS}}H</span></div>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>

  </ion-slides>

</ion-content>