<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="showEditBtn()" *ngIf="!showBtn">{{'edit' | translate }}</button>
      <button ion-button (click)="hideEditBtn()" *ngIf="showBtn">{{'done' | translate }}</button>
    </ion-buttons>
    <ion-title>{{'applicationTitle' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div class="grid-wrapper" *ngFor="let items of itemsByGroup">
    <div class="grid-header">{{items[0].GROUP_NAME|sgChineseConv}}</div>
    <sg-application-grid [items]="items" type="remove" [showBtn]="showBtn" (onSelect)="moveItemToMoreGroup($event)" (onClick)="goToDetailPage($event)"></sg-application-grid>
    <div class="grid-footer"></div>
  </div>
  <ion-list no-lines>
    <button ion-item (click)="goToMorePage()">
    {{'more' | translate }}
  </button>
  </ion-list>
</ion-content>
