sg-business-form {
  .searchOut {
    position: relative;
    overflow:visible;
  }
  .search {
    position: absolute;
    max-height: 201px;
    overflow-y: scroll;
    left: 20%;
    z-index: 1000;
    width: 100%;
  }
  .search-result {
    cursor: pointer;
    width: 60%;
  }

  .list-group {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .myitem {
    position: relative;
    min-height: 4.4rem;
    width: 100%;
    padding: 7px 10px 0px 0px;
    margin-left: 16px;
    border-bottom: 1px solid #c8c7cc;
    overflow: visible;
    ion-label {
      position: absolute;
      top: 0%;
      left: 0;
      font-size: 1.7rem;
    }
    .myToggle {
      margin-left: 80%;
      // padding-top: 5px;
    }
  }
  .main{
    position:relative;
    .layer{
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }

  //重设select宽度样式
  ion-select {
    max-width: 75%;
  }
}
