<ion-header>
  <ion-navbar>
    <ion-title>
      {{(this.idx+1)+' / '+this.imgs.length}}
    </ion-title>
    <ion-buttons>
      <button ion-button (tap)="exit()">返回</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (tap)="delete()" class="iconfontyyy">&#xe643;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="container" #photoView>
    <div class="img" *ngFor="let item of imgs" (touchend)="draftEnd($event)" (touchstart)="draftStart($event)" (touchmove)="draft($event)">
      <img [src]="item" alt="">
    </div>
  </div>
</ion-content>
