<ion-content class="login-content" padding>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row class="input-box">
        <ion-list>
          <ion-item>
            <ion-label class="iconfontyyy">&#xe75c;</ion-label>
            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="registerCredentials.username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="iconfontyyy">&#xe63e;</ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col col-6 class="extra-opt">
              <ion-checkbox color="#3773F7" [(ngModel)]="registerCredentials.rememberPWD" name="rememberPWD"></ion-checkbox>
              <ion-label>记住密码</ion-label>
            </ion-col>
            <ion-col col-6 class="extra-opt">
              <ion-checkbox color="#3773F7" [(ngModel)]="registerCredentials.autoLogin" name="autoLogin"></ion-checkbox>
              <ion-label>自动登录</ion-label>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <span ion-button class="register-btn" block clear>Create New Account</span>
        </ion-col>
      </ion-row>
    </form>
    <span class="rightBottom">{{appVersion}}</span>
  </div>
  <!--<button ion-button full (click)="test()">test</button>-->
  <!--<button ion-button full (click)="test2()">test2</button>-->
</ion-content>
