<ion-header>
  <ion-navbar>
    <ion-title>{{'contactTitle'| translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-searchbar placeholder="{{'placeholder' | translate }}" (ionInput)="getItems($event)"></ion-searchbar>
  <div class="main-wrapper" *ngIf="!searchFilter">
    <div class="department-group">
      <ion-grid>
        <ion-row>
          <ion-col class="col">
            <button (click)="goToSearchDetail('sameDept')" class="contact-btn">
              <img src="assets/icon/person.ico" class="col-img">
              <span class="desc">{{'sameDept'| translate}}</span>
            </button>
          </ion-col>
          <ion-col class="col">
            <button (click)="goToSearchDetail('subordinated')" class="contact-btn">
              <img src="assets/icon/xiashu.ico" class="col-img">
              <span class="desc">{{'subordinated'| translate}}</span>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col">
            <button class="contact-btn" (click)="goToOrganizationPage()">
              <img src="assets/icon/department.ico" class="col-img" >
              <span class="desc">{{'organization'| translate}}</span>
            </button>
          </ion-col>
          <ion-col class="col">
            <button (click)="goToSearchDetail('all')" class="contact-btn">
              <img src="assets/icon/all.ico" class="col-img">
              <span class="desc">{{'all'| translate}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="contacter">
      <div class="contacter-header">
        {{'nearby'| translate}}
      </div>
      <sg-contact-list [contacter]="contacter" (onClick)="goToDetailPage($event)"></sg-contact-list>
    </div>
  </div>
  <div *ngIf="searchFilter">
    <sg-contact-list [contacter]="searchResult" (onClick)="goToDetailPage($event)"></sg-contact-list>
  </div>
</ion-content>
