<ion-tabs #mainTabs>
  <ion-tab [root]="tab1Root" tabTitle="{{'message' | translate}} " tabIcon="chatboxes" [tabBadge]="unreadCount> 0 ? unreadCount : null"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{'application' | translate}} " tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{'contact' | translate}} " tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{'me' | translate}} " tabIcon="person"></ion-tab>
</ion-tabs>
<!-- <ion-tabs #mainTabs>
  <ion-tab [root]="tab1Root" [tabTitle]="('message' | translate)" tabIcon="chatboxes" [tabBadge]="unreadCount> 0 ? unreadCount : null"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="('application' | translate)" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="('contact' | translate)" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="('me' | translate)" tabIcon="person"></ion-tab>
</ion-tabs> -->
