<div class="main-wrapper">
  <div class="card-header">
    <ion-checkbox class="header-cb" color="primary" (click)="selectedAll()"></ion-checkbox>
    <div class="header-title">{{bookList.USER_NAME}}</div>
  </div>
  <div class="card-content" *ngFor="let book of bookList.BOOKS">
    <ion-checkbox color="primary" [checked]="book.selectItem" class="content-cb" (ionChange)="singleSelect($event,book.ID)" [disabled]="renewFlag && book.RENEW_FLAG ==='Y'"></ion-checkbox>
    <div class="content-list">
      <sg-book-list [books]="[book]" [showPayBackDate]="showPayBackDate"></sg-book-list>
    </div>
    <div class="line"></div>
  </div>
</div>
