sg-book-library {
  .page {
    background-color: #fbf9fe;
  }
  // .searchbar {
  //   width: 100%;
  //   background-color: #c9c7cb;
  // }
  .book-list {
    height: 90%;
  }
  .avatar-img {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .avatar-img img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}
