sg-book-library {
  // .scroll-content {
  //   overflow-y: hidden;
  // }
  .page {
    background-color: #fbf9fe;
    // overflow-y: scroll;
  }
  .my-book-list {
    // height: 90%;
    // margin-top: $searchbar-ios-min-height;
  }
  .avatar-img {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .avatar-img img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}
