sg-book-library {
  .scroll-content {
    overflow-y: hidden;
  }
  .page {
    background-color: #fbf9fe;
  }
  .searchbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #c9c7cb;
    z-index: 999;
  }
  .book-list {
    margin-top: ($navbar-ios-height);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
  }
  .avatar-img {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .avatar-img img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}
