<ion-menu [content]="maincontent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="avatar-img">
      <img [src]="user.avatarUrl" />
      <h1>{{user.username}}</h1>
    </div>
    <ion-list>
      <!--<ion-item (click)="getOrderBooksInfo()">
        <ion-icon name="archive" item-left color="primary"></ion-icon>
        已预约图书
      </ion-item>-->
      <button ion-item (click)="getOrderBooksInfo()">
        <ion-icon name="archive" item-left color="primary"></ion-icon>
        已预约图书
      </button>
      <button ion-item (click)="getBorrowedBooks()">
        <ion-icon name="book" item-left color="primary"></ion-icon>
        已借图书
      </button>
      <button ion-item (click)="getPaybackBooks()">
        <ion-icon name="bookmark" item-left color="primary"></ion-icon>
        已还图书
      </button>
      <button ion-item (click)="addBooks()">
        <ion-icon name="briefcase" item-left color="primary"></ion-icon>
        新增图书(管理员)
      </button>
      <button ion-item (click)="borrowRequest()">
        <ion-icon name="folder" item-left color="primary"></ion-icon>
        借书申请(管理员)
      </button>
      <button ion-item (click)="payBackRequest()">
        <ion-icon name="document" item-left color="primary"></ion-icon>
        还书(管理员)
      </button>
      <button ion-item (click)="showSettingModal()">
        <ion-icon name="settings" item-left color="primary"></ion-icon>
        设置(管理员)
      </button>
      <button ion-item (click)="exit()">
        <ion-icon name="exit" item-left color="primary"></ion-icon>
        退出
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      图书馆
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="openMenu()">
          菜单
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="exit()">
          退出
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="page" #maincontent>
  <ion-searchbar (ionInput)="queryBooks($event)" #bookInput></ion-searchbar>
  <div class="book-list" #booklist>
    <sg-book-list [books]="books" (onClick)="goToDetailPage($event)"></sg-book-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isLastPageReached()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
