<ion-menu [content]="maincontent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="avatar-img">
      <img [src]="user.avatarUrl" />
      <h1>{{user.username}}</h1>
    </div>
    <ion-list>
      <!--<ion-item (click)="getOrderBooksInfo()">
        <ion-icon name="archive" item-left color="primary"></ion-icon>
        已预约图书
      </ion-item>-->
      <button ion-item (click)="getOrderBooksInfo()">
        <ion-icon name="archive" item-left color="primary"></ion-icon>
        {{languageContent.booked_books}}
      </button>
      <button ion-item (click)="getBorrowedBooks()">
        <ion-icon name="book" item-left color="primary"></ion-icon>
        {{languageContent.borrowed_books}}
      </button>
      <button ion-item (click)="getPaybackBooks()">
        <ion-icon name="bookmark" item-left color="primary"></ion-icon>
        {{languageContent.paybacked_books}}
      </button>
      <button ion-item (click)="addBooks()" *ngIf="privilege === 'super'">
        <ion-icon name="briefcase" item-left color="primary"></ion-icon>
        {{languageContent.add_books}}
      </button>
      <button ion-item (click)="borrowRequest()" *ngIf="privilege === 'super'">
        <ion-icon name="folder" item-left color="primary"></ion-icon>
        {{languageContent.borrow_book_requests}}
      </button>
      <button ion-item (click)="payBackRequest()" *ngIf="privilege === 'super'">
        <ion-icon name="document" item-left color="primary"></ion-icon>
        {{languageContent.payback_requested}}
      </button>
      <button ion-item (click)="showSettingModal()" *ngIf="privilege === 'super'">
        <ion-icon name="settings" item-left color="primary"></ion-icon>
        {{languageContent.setting}}
      </button>
      <button ion-item (click)="exit()">
        <ion-icon name="exit" item-left color="primary"></ion-icon>
        {{languageContent.exit}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      {{languageContent.title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="openMenu()">
          {{languageContent.menu}}
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="exit()">
          {{languageContent.exit}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="page" #maincontent>
  <!-- <ion-searchbar (ionInput)="queryBooks($event)" #bookInput ion-fixed></ion-searchbar> -->
  <ion-searchbar (ionInput)="queryBooks($event)" #bookInput></ion-searchbar>
  <div class="my-book-list" #booklist>
    <sg-book-list [books]="books" (onClick)="goToDetailPage($event)"></sg-book-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!isLastPageReached()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
