<ion-header>
  <ion-navbar>
    <ion-title>查詢頁面</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label col-4>存放區域1:</ion-label>
    <ion-select col-8 [(ngModel)]="location1"  [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate">
      <!-- <ion-option *ngFor="let item of mrinamelist" [value]="item.NAME_ID">{{item.INSPECT_NAME}}</ion-option> -->
      <ion-option value="廠區">廠區</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label col-4>存放區域2:</ion-label>
    <ion-select col-8 [(ngModel)]="location2" [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate">
      <!-- <ion-option *ngFor="let item of mrinamelist" [value]="item.NAME_ID">{{item.INSPECT_NAME}}</ion-option> -->
      <ion-option value="S6">S6</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label col-4>存放區域3:</ion-label>
    <ion-select col-8 [(ngModel)]="location3" [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate">
      <!-- <ion-option *ngFor="let item of mrinamelist" [value]="item.NAME_ID">{{item.INSPECT_NAME}}</ion-option> -->
      <ion-option value="1F">1F</ion-option>
      <ion-option value="2F">2F</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label col-4>*設備編號：</ion-label>
    <ion-input col-8 [(ngModel)]="machine_no"></ion-input>
  </ion-item>
  <button ion-button full type="button" (tap)="submit()">提交</button>
</ion-content>