<ion-header>

  <ion-navbar>
    <ion-title>{{'attendance.tab3' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="myList">
    <button ion-item (tap)='maintain_Leave()'>
    {{'attendance.leave1' | translate}}
    </button>
    <button ion-item (tap)='cancel_leave()'>
    {{'attendance.for_callback' | translate}}
    </button>
    <button ion-item (tap)='maintain_business()'>
    {{'attendance.business1' | translate}}
    </button>
  </ion-list>
</ion-content>
