<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!formData.status">{{'attendance.new' | translate}}{{formData.type | sgFormType | translate}}</ion-title>
    <ion-title *ngIf="formData.status">{{formData.type | sgFormType | translate}}{{'attendance.detail' | translate}}</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (tap)="presentPopover($event)">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item-divider class='alert error' *ngIf="errTip">{{errTip}}</ion-item-divider>
  <ion-list *ngIf="formData.status && formData.No">
    <ion-item class="myForm auto first">
      {{'attendance.form_status' | translate}}
      <ion-note item-right>
        {{formData.status}}
      </ion-note>
    </ion-item>

    <ion-item class="myForm auto">
      {{'attendance.form_No' | translate}}
      <ion-note item-right>
        {{formData.No}}
      </ion-note>
    </ion-item>
  </ion-list>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()" class="main">
    <div [class.layer]="['APPROVED','WAITING'].indexOf(formData.status.toUpperCase())>-1">
    </div>
    <ion-list class="myList">
      <ion-item *ngIf="dutyType" class="myForm auto first">
        {{'attendance.dutyType' | translate}}
        <ion-note item-right>
          {{dutyType}}
        </ion-note>
      </ion-item>
      <ion-item [class.has-error]="myValidators.OTtime.error" [class.has-success]="myValidators.OTtime.pass">
        <ion-label>*{{'attendance.OTtime' | translate}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" formControlName="OTtime"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item [class.has-error]="myValidators.startTime.error" [class.has-success]="myValidators.startTime.pass">
        <ion-label>*{{'attendance.startTime' | translate}}</ion-label>
        <ion-datetime displayFormat="mm:ss" pickerFormat="HH:mm:ss" formControlName="startTime"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate" hourValues ="0" [minuteValues]="startHourRange"
        ></ion-datetime>
      </ion-item>
      <ion-item [class.has-error]="myValidators.endTime.error" [class.has-success]="myValidators.endTime.pass">
        <ion-label>*{{'attendance.endTime' | translate}}</ion-label>
        <ion-datetime displayFormat="mm:ss" pickerFormat="HH:mm:ss" formControlName="endTime" [minuteValues]="endHourRange"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate" hourValues ="0"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="timeError " class='alert'>{{timeError}}</ion-item-divider>
      <ion-item class="myForm auto first" *ngIf="OTCount">
        {{'attendance.OTCount' | translate}}
        <ion-note item-right>
          {{OTCount}}
        </ion-note>
      </ion-item>
      <ion-item [class.has-error]="myValidators.reasonType.error" [class.has-success]="myValidators.reasonType.pass">
        <ion-label>*{{'attendance.reasonType1' | translate}}</ion-label>
        <ion-select [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate" formControlName="reasonType">
          <ion-option *ngFor="let item of jobType" [value]="item.type">{{item.name | sgChineseConv}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [class.has-error]="myValidators.reason.error" [class.has-success]="myValidators.reason.pass">
        <ion-label>*{{'attendance.OTreason' | translate}}</ion-label>
        <ion-textarea rows="2" cols="20" formControlName="reason" class="reasonTest"
        ></ion-textarea>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.reason.error" class='alert'>{{myValidators.reason.error}}</ion-item-divider>
      <ion-grid *ngIf="['APPROVED','WAITING'].indexOf(formData.status.toUpperCase())<0">
        <ion-row>
          <ion-col width-50>
            <ion-buttons left>
              <button ion-button type="button" (tap)="reSet()">{{'attendance.reset' | translate}}</button>
            </ion-buttons>
          </ion-col>
          <ion-col width-50>
            <ion-buttons right >
              <button ion-button class = "submit" type="submit" [disabled]="!todo.valid || myValidators.reason.error || timeError">{{'attendance.sign' | translate}}</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
