<ion-header>
  <ion-navbar>
    <ion-title>{{fromUserNickName | sgChineseConv}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-content">
  <div class='msg-content' (scroll)="doscroll($event)">
    <ion-list *ngFor="let item of list;let i=index " class="page-list">
      <div class="list-time">
        <div class="list-time-content">{{item.time | sgTimeDesc | sgChineseConv}}</div>
      </div>
      <ion-card [ngSwitch]="item.extra.content_type">
        <ion-card-header class="card-header">
          {{item.extra.title | sgChineseConv}}
        </ion-card-header>
        <ng-template [ngSwitchCase]="'text'">
          <ion-card-content class="card-content">
            <div [innerHTML]="item.extra.content | sgChangeSpace | sgChineseConv "></div>
            <div *ngIf="item.extra.table_content==='reward'" class="under-line" (tap)="goToDetail2(item.extra.params)">{{'notice.allrecord' | translate}}</div>
            <div *ngIf="item.extra.table_content==='dutydaily' && show(item.extra.params)===true" class="under-line" (tap)="goToDetail2(item.extra.params)">{{'notice.showDetail' | translate}}</div>
          </ion-card-content>
        </ng-template>
        <ng-template [ngSwitchCase]="'image'">
          <ion-card-content class="card-content">
            <img src={{item.extra.content}} class='img_content' imageViewer>
          </ion-card-content>
        </ng-template>
        <ng-template [ngSwitchCase]="'json'">
          <ion-card-content class="card-content">
            <p class="chart-text">{{item.content | sgChineseConv}}</p>
            <p class="show-detail" (tap)="goToDetail(item.extra.content)">{{'notice.showDetail' | translate}}</p>
            <!-- <p class="show-detail" *ngIf="!item.extra.showChart" (tap)="toggleChart(item)">{{languageContent.showDetail | sgChineseConv}}</p> -->
            <!-- <p class="show-detail" *ngIf="item.extra.showChart" (tap)="toggleChart(item)">{{languageContent.hideDetail | sgChineseConv}}</p> -->
            <!-- <sg-chartcomponent [content]="item.extra.content" *ngIf="item.extra.showChart"></sg-chartcomponent> -->
            <!-- <sg-table [tableData]="item.extra.table_content" *ngIf="item.extra.showChart && item.extra.table_content"></sg-table> -->
          </ion-card-content>
        </ng-template>
      </ion-card>
    </ion-list>
  </div>
</ion-content>