sg-notice {
  .chart {
    width: 100%;
    height: 47%;
    min-height: 250px;
    margin-bottom: 5%;
  }
  .page-content {
    background-color: #f7f7f7;
    .scroll-content {
      overflow-y: hidden;
    }
    .msg-content {
      overflow-y: scroll;
      height: 100%;
      .page-list {
        margin-bottom: 0px;
        .list-time {
          padding: 3% 3% 0 3%;
          text-align: center;
          .list-time-content {
            font-size: 14px;
            text-align: center;
            width: 24%;
            margin-left: 38%;
            background-color: #dfdfdf;
          }
        }
        .card-header {
          text-align: center;
        }
        .card-content {
          text-indent: 2em;
        }
      }
    }
  }
}
