<ion-header>
    <ion-navbar>
        <ion-title>{{fromUserNickName | sgChineseConv}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="page-content">
    <div class='msg-content'>
        <ion-list *ngFor="let item of list" class="page-list">
            <div class="list-time">
                <div class="list-time-content">{{item.time | sgTimeDesc | sgChineseConv}}</div>
            </div>
            <ion-card>
                <ion-card-header class="card-header">
                    {{item.extra.title | sgChineseConv}}
                </ion-card-header>
                <ion-card-content class="card-content" [innerHTML]="item.extra.content | sgChangeSpace | sgChineseConv ">
                </ion-card-content>
                <!--<div>{{item.extra.c}}</div>-->
            </ion-card>
        </ion-list>
    </div>
</ion-content>