sg-notice {
    .page-content {
        background-color: #f7f7f7;
        .page-list {
            margin-bottom: 0px;
            .list-time {
                padding: 3% 3% 0 3%;
                text-align: center;
                .list-time-content {
                    font-size: 14px;
                    text-align: center;
                    width: 24%;
                    margin-left: 38%;
                    background-color: #dfdfdf;
                }
            }
        }
    }
}