<ion-header [class.head]='isVal' [class.secHead]='!isVal' id='headCode'>
  <ion-navbar [class.hide]="isVal">
    <ion-title>手势密码</ion-title>
  </ion-navbar>
  <ion-list *ngIf="!isVal">
    <ion-item>
      <ion-label>启用手势密码</ion-label>
      <ion-toggle [(ngModel)]="needNineCode" (ionChange)="toggleBtn($event)"></ion-toggle>
    </ion-item>
  </ion-list>
  <div class="nav-head" *ngIf="user && isVal">
    <div class="pagehead">
      <ion-avatar class="person">
        <img [src]="user.avatarUrl">
      </ion-avatar>
      <div class="message first">{{user.nickname}}</div>
      <div class="message tip">{{message}}</div>
    </div>
  </div>
</ion-header>
<ion-content class="main" no-bounce>
  <div [class.layer]="!needNineCode && !isVal">
  </div>
  <canvas id="lockCanvas"></canvas>
  <ion-grid *ngIf="isVal && !isReSet">
    <ion-row>
      <ion-col width-50>
        <ion-buttons left>
          <button ion-button (tap)="switchUser()">登录其它账号</button>
        </ion-buttons>
      </ion-col>
      <ion-col width-50>
        <ion-buttons right>
          <button ion-button (tap)="validateId()">忘记手势密码</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="!isVal && message && needNineCode">
    <ion-card-content>
      {{message}}
    </ion-card-content>
  </ion-card>
</ion-content>
