<ion-header [class.head]='isVal' [class.secHead]='!isVal' id='headCode' [class.landscape]="isLandscape">
  <ion-navbar *ngIf="!isVal">
    <!--<ion-navbar>-->
    <ion-title>手势密码</ion-title>
    <!--<ion-buttons start>
      <button ion-button icon-left (click)="back()">
        <ion-icon name="arrow-back" style="font-weight: bold;font-size: 32px;"></ion-icon>
        返回
      </button>
    </ion-buttons>-->
  </ion-navbar>
  <ion-list *ngIf="!isVal">
    <ion-item>
      <ion-label>启用手势密码</ion-label>
      <!--<ion-toggle [(ngModel)]="needNineCode"></ion-toggle>-->
      <ion-toggle [(ngModel)]="needNineCode" (ionChange)="toggleBtn($event)"></ion-toggle>
    </ion-item>
  </ion-list>
  <div class="nav-head" *ngIf="user && isVal">
    <div class="pagehead">
      <ion-avatar class="person">
        <img [src]="user.avatarUrl">
      </ion-avatar>
      <div class="message first">{{user.nickname}}</div>
      <div class="message tip">{{message}}</div>
    </div>
  </div>
</ion-header>
<ion-content class="main">
  <div [class.layer]="!needNineCode && !isVal">
  </div>
  <canvas id="lockCanvas"></canvas>
  <ion-grid *ngIf="isVal && !isReSet">
    <ion-row>
      <ion-col width-50>
        <ion-buttons left>
          <button ion-button (click)="switchUser()">登录其它账号</button>
        </ion-buttons>
      </ion-col>
      <ion-col width-50>
        <ion-buttons right>
          <button ion-button (click)="validateId()">忘记手势密码</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-grid *ngIf="isVal && isReSet">
    <ion-row>
      <ion-col width-50>
        <ion-buttons left>
          <button ion-button (click)="skip()">跳过不设置</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-card *ngIf="!isVal && message && needNineCode">
    <ion-card-content>
      {{message}}
    </ion-card-content>
  </ion-card>
</ion-content>
