sg-pattern-lock {
  .hide {
    display: none;
  }
  .tip{
    color:yellow;
    font-size: 75%;
    margin-top: 1% !important;
  }
  .secHead{
    // padding-bottom: 20%;
  }
  .head{
    height:35%;
    max-height: 265px;
    color: #fff;
    font-size: 150%;
    @media screen and (orientation: landscape) {
      max-height:none;
      min-height: 265px;
    }
  }
  .nav-head{
    height:100%;
    background-color: #3773F7;
    position: relative;
    text-align: center;
    .headicon{
      font-size:220%;
      position: absolute;
      right:5%;
      top:15%;
    }
    .person{
      overflow: hidden;
      width:$headImgSize3;
      height:$headImgSize3;
      border-radius: 2*$headImgSize3;
      margin-left: -$headImgSize3/2;
      position: absolute;
      top: 16%;
      left:50%;
      border: solid 2px #fff;
      img{
        width:100%;
        height:100%;
      }
    }
    .pagehead{
      display: flex;
      flex-direction:column;
      justify-content:flex-end;
      height:98%;
      width:100%;
      .message{
        // margin-top: 1%;
      }
    }
  }
  @media screen and (max-width:500px) {
  	.head{
      font-size: 130%;
      .nav-head{
        .person{
          width:$headImgSize;
          height:$headImgSize;
          border-radius: 2*$headImgSize;
          margin-left: -$headImgSize/2;
        }
      }
    }
  }
  @media screen and (max-width:320px) {
  	.head{
      font-size: 110%;
      .nav-head{
        .person{
          width:$headImgSize1;
          height:$headImgSize1;
          border-radius: 2*$headImgSize1;
          margin-left: -$headImgSize1/2;
        }
      }
    }
  }
  .main{
    position:relative;
    .layer{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }
}
