sg-list {
  .main-wrapper {
    // display: flex;
    // justify-content: space-between;
    font-size: 14px;
  }
  .check-list {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .no-data {
    text-align: center;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
  }
}
