<ion-header class="head">
  <div class="nav-head" *ngIf="user" (tap)="goToMyDetail()">
    <i class="iconfontyyy headicon">&#xe614;</i>
    <div class="person">
      <img [src]="user.avatarUrl">
    </div>
    <div class="pagehead">
      <div class="message">{{user.nickname }}</div>
      <div class="message">{{user.position }}</div>
      <div class="message">{{user.department }}</div>
    </div>
  </div>
</ion-header>
<ion-content class="content1" no-bounce>
  <ion-list class="myList">
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" disabled>
      <!-- <ion-icon name="disc" color="keep"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe6a8;</span>
        &nbsp;{{'meComponent.keep' | translate}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="getQrMessage()">
      <!-- <ion-icon name="expand" color="sao"></ion-icon> -->
      <span class="iconfontyyy" style="color: #1296DB">&#xe6a0;</span>
        &nbsp;{{'meComponent.scan' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <ion-icon name="create" color="advice"></ion-icon>
        &nbsp;{{'meComponent.advice' | translate}}
    </button>
    <button ion-item class="function-message" (tap)="goSetting()">
      <ion-icon name="cog" color="mac"></ion-icon>
        &nbsp;{{'meComponent.set' | translate}}
    </button>
  </ion-list>
</ion-content>