<ion-header class="head">
  <div class="nav-head" *ngIf="user" (tap)="goToMyDetail()">
    <i class="iconfontyyy headicon">&#xe613;</i>
    <div class="person">
      <img [src]="user.avatarUrl">
    </div>
    <div class="pagehead">
      <div class="message">{{user.nickname | sgChineseConv}}</div>
      <div class="message">{{user.position | sgChineseConv}}</div>
      <div class="message">{{user.department | sgChineseConv}}</div>
    </div>
  </div>
</ion-header>
<ion-content class="content1">
  <ion-list class="myList">
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message">
      <ion-icon name="disc" color="keep"></ion-icon>
        &nbsp;{{languageContent.keep}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="getQrMessage()">
      <ion-icon name="expand" color="sao"></ion-icon>
        &nbsp;{{languageContent.scan}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="create" color="advice"></ion-icon>
        &nbsp;{{languageContent.advice}}
    </button>
    <button ion-item class="function-message" (tap)="goSetting()">
      <ion-icon name="cog" color="mac"></ion-icon>
        &nbsp;{{languageContent.set}}
    </button>
  </ion-list>
</ion-content>
