<ion-header>
  <ion-navbar>
    <ion-title>{{'inspection.issuesTrack' | translate}}</ion-title>
    <ion-buttons end >
      <button ion-button (tap) = "search()">{{ 'attendance.search' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <sg-query-date [mri_type] ="type === 1?'boss':'equip'" (change)="queryChange($event)" *ngIf="type"></sg-query-date>
  <div padding>
    <ion-segment [(ngModel)]="status" (ionChange)="changeShow()">
      <ion-segment-button value="1">
        {{'inspection.statusNew' | translate}}
      </ion-segment-button>
      <ion-segment-button value="2">
        {{'inspection.statusWaiting' | translate}}
      </ion-segment-button>
      <ion-segment-button value="3">
        {{'inspection.statusDone' | translate}}
      </ion-segment-button>
      <ion-segment-button value="4">
        HighLight
      </ion-segment-button>
      <ion-segment-button value="5">
        {{'inspection.all' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="lists" *ngIf="testData && type === 1 ">
    <sg-boss-item *ngFor="let item of testData" (tap)="toDetail(item)" [item]="item"></sg-boss-item>
  </div>
  <div class="lists" *ngIf="type === 2">
    <sg-equip-item *ngFor="let item of testData" (tap)="toDetail(item)" [item]="item"></sg-equip-item>
  </div>
</ion-content>
