// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals"; // Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #387ef5, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, normal: #000, dark: #222, keep: #EA986C, sao: #1296DB, advice: #EEB174, mac: #3773F7); // App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
/* 定義阿里圖庫 */
@font-face {
  font-family: 'iconfontyyy';
  /* project id 234366 */
  src: url('http://at.alicdn.com/t/font_34c3wtsh5o3nxw29.eot');
  src: url('http://at.alicdn.com/t/font_34c3wtsh5o3nxw29.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_34c3wtsh5o3nxw29.woff') format('woff'), url('http://at.alicdn.com/t/font_34c3wtsh5o3nxw29.ttf') format('truetype'), url('http://at.alicdn.com/t/font_34c3wtsh5o3nxw29.svg#iconfont') format('svg');
}

.iconfontyyy {
  font-family: "iconfontyyy" !important;
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
// 定义头像大小的变量
$headImgSize: 125px;
$headImgSize1: 88px;
$headImgSize3: 150px;
// 定义字体
ion-alert,
ion-content,
ion-header,
ion-list,
ion-nav,
ion-picker-cmp {
  font-family: Arial,"Microsoft Yahei";
}
// 定义表单颜色

.alert ion-label {
  font-size: 50%;
  color: red!important;
}

.has-error ion-label {
  color: #a94442!important;
}

.has-success ion-label {
  color: #000!important;
}
//重设select宽度样式

ion-select {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

ion-alert div.alert-wrapper {
  min-width: 300px;

  .alert-radio-group {
    max-height: 380px;
  }

  .alert-button-group button {
    border-top: 1px solid #dbdbdf;
    border-right: 1px solid #dbdbdf;
  }

  .button-inner {
    color: #000;
  }
}

ion-picker-cmp .picker-wrapper {
  flex-direction: column-reverse;

  .picker-toolbar-button {
    text-align: center;
    border-top: 1px solid #dbdbdf;
    border-left: 1px solid #dbdbdf;

    .button-inner {
      color: #000;
    }

    &.picker-toolbar-cancel {
      border-left: none;
    }
  }
}

ion-app .alert-ios .alert-wrapper {
  background-color: #fff;
}
// 考勤模块的
.myForm.auto {
  background-color: lighten(#CFCFD1, 17%);
  color: #8B8B8B;
}

.list-ios > .item-block:first-child {
  border-top: 1px solid #c8c7cc!important;
}

.list-ios .item-block .item-inner {
  border-bottom: 1px solid #c8c7cc!important;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 1px solid #c8c7cc!important;
}

.list-ios > .item-block:last-child .item-inner,
.list-ios > .item-wrapper:last-child .item-block .item-inner {
  border-bottom: 0!important;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0 0 1px!important;
}

.tabs-ios .tabbar {
  border-top: 1px solid rgba(0, 0, 0, 0.3)!important;
}

.list-ios[no-lines] .item,
.list-ios[no-lines] .item .item-inner,
.list-ios[no-lines] ion-item-options,
.list-ios[no-lines] ion-list-header {
  border-width: 0!important;
}

.alert-ios .alert-input {
  border: 1px solid #ccc!important;
}
/*
定义表格样式
 */
.table {
  width: 94%;
  max-width: 150%;
  margin-bottom: 20px;
  border-spacing: 0;
  margin: 3%;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
  text-align: center;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.myTable {
  width: 100%;
  overflow-x: scroll;
}

.table > caption+thead > tr:first-child > td,
.table > caption+thead > tr:first-child > th,
.table > colgroup+thead > tr:first-child > td,
.table > colgroup+thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

.table tbody th {
  font-weight: normal;
}

.table th.row1 {
  font-weight: bold;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: center;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

th {
  text-align: left;
}

td,
th {
  padding: 0;
}
