<div class="contacter">
  <div class="contacter-content" *ngFor="let item of contacter">
    <button class="my-button" (click)="goToDetailPage(item)">
    <ion-grid>
      <ion-row class="row">
        <ion-col col-2>
          <img  class="avatar" [src]="item.AVATAR_URL" alt="self-photo" *ngIf="item.AVATAR_URL">
          <span class="avatar" *ngIf="!item.AVATAR_URL">{{item.NICK_NAME.substr(-2) | sgChineseConv}}</span>
        </ion-col>
        <ion-col col-4>
          <ion-row class="name">{{item.NICK_NAME | sgChineseConv}}</ion-row>
          <ion-row class="company">{{item.USER_NAME | sgChineseConv}}</ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="position">{{item.JOB_TITLE | sgChineseConv}}</ion-row>
          <ion-row class="department">{{item.DEPT_NAME | sgChineseConv}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    </button>
  </div>
</div>
