sg-contact-list {
  .contacter {
    .contacter-content {
      .my-button {
        width: 100%;
        background-color: white;
      }
      .row {
        border-bottom: 1px solid #ccc;
        .avatar {
          display: inline-block;
          // margin-left: 15px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 20px;
          // background-color: #6396E2;
          color: #fff;
          font-size: 14px;
        }
        .blue {
          background-color: #6396E2;
        }
        .name {
          font-weight: 600;
          font-size: 15px;
          border-bottom: none;
        }
        .company {
          margin-top: 5px;
          color: #909090;
          font-size: 12px;
          border-bottom: none;
        }
        .position {
          color: #909090;
          font-size: 15px;
          border-bottom: none;
        }
        .department {
          width: 100%;
          margin-top: 5px;
          color: #909090;
          font-size: 12px;
          border-bottom: none;
          text-align: left;
        }
      }
    }
  }
}
