sg-dialogue {
  $fontcolor: #7b7b7b;
  $activecolor: #13b113;
  .page-content {
    height: 100%;
    overflow: scroll;
  }
  .msg-content {
    padding: 10px 16px 0 16px;
    overflow-y: scroll;
    &.up {
      height: 78% !important;
    }
  }
  .selectable {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
  .android-height {
    height: 93%;
  }
  .msgarea {
    padding: 10px 0px;
    .last {
      margin-bottom: 14%;
    }
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden
    }
    .clearfix {
      height: 1%;
    }
    .msg {
      border: 1px solid #d8d8d8;
      font-size: 16px;
      display: inline-block;
      padding: 7px 10px;
      max-width: 65%;
      border-radius: 7px;
    }
    .icon {
      width: 35px;
      height: 35px;
    }
    .img_content {
      max-width: 50%;
      max-height: 30%;
    }
    .me {
      .msg {
        position: relative;
        background-color: #9fe757;
        float: right;
        margin-right: 10px;
        .arrow_r_int {
          width: 0px;
          height: 0px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent transparent #9fe757;
          position: absolute;
          left: 100%;
        }
      }
      .img_heng {
        background-color: #9fe757;
        float: right;
        margin-right: 10px;
        //横屏
        height: 113px;
        max-width: 145px;
        width: auto;
      }
      .img_shu {
        background-color: #9fe757;
        float: right;
        margin-right: 10px;
        // 竖屏
        height: auto;
        max-height: 150px;
        width: 80px;
      }
      .img_fang {
        background-color: #9fe757;
        float: right;
        margin-right: 10px;
        // 正方形
        height: 145px;
        width: 145px;
      }
      .icon {
        float: right;
        margin-right: 5px;
      }
    }
    .other {
      .msg {
        position: relative;
        background-color: #fff;
        float: left;
        margin-left: 10px;
        .arrow_l_int {
          width: 0px;
          height: 0px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent #c8c7cc transparent transparent;
          position: absolute;
          right: 100%;
        }
        .arrow_l_out {
          width: 0px;
          height: 0px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent #fff transparent transparent;
          position: absolute;
          right: 98%;
        }
      }
      .img_heng {
        background-color: #9fe757;
        float: left;
        margin-left: 10px;
        //横屏
        height: 113px;
        max-width: 145px;
        width: auto;
      }
      .img_shu {
        background-color: #9fe757;
        float: left;
        margin-left: 10px;
        // 竖屏
        height: auto;
        max-height: 150px;
        width: 80px;
      }
      .img_fang {
        background-color: #9fe757;
        float: left;
        margin-left: 10px;
        // 正方形
        height: 145px;
        width: 145px;
      }
      .icon {
        float: left;
        margin-left: 5px;
      }
    }
  }
  .input {
    color: $fontcolor; // height: 7.5%;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    background-color: #ededed;
    font-size: 11px;
    &.up {
      height: 22%;
    }
    .input_layout {
      position: relative;
      height: 40px;
      line-height: 40px;
      .input_icon {
        position: absolute;
        display: inline-block;
        top: 10%;
        font-size: 35px;
        &.voice {
          left: 2%;
          top: 6%;
        }
        &.face {
          right: 13%;
          top: -4%;
        }
        &.plus {
          right: 2%;
          top: -6%;
        }
      }
      .input_text {
        border-bottom: 1px solid #d8d8d8;
        text-indent: 5px;
        margin-left: 50px;
        margin-right: 120px;
        vertical-align: middle;
        line-height: 30px;
        height: 30px;
        width: 63%;
        font-size: 18px;
        color: #000;
        border-radius: 6px;
      }
      .send {
        background-color: #14b012;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        border: 1px solid #378c37;
        border-radius: 2px;
        right: 1%;
        bottom: 1%;
        width: 11%;
        height: 40px;
        line-height: 36px;
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 4px; // margin-bottom: 4px;
        &.hidden {
          display: none;
        }
      }
    }
    .button-bar {
      display: flex;
      width: 90%;
      margin-left: 5%;
      justify-content: space-between;
      .btt {
        .button-ion {
          border-radius: 12px;
          .icon-img {}
        }
      }
      .icon-content {
        text-align: center;
      }
    }
  }
}
