<ion-header (touchstart)="closeKeyboard()">
  <ion-navbar>
    <ion-title>{{fromuserNickName | sgChineseConv}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class='page-content' #content (touchstart)="closeKeyboard()">
  <!-- <ion-refresher [enabled]="istop" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->
  <div class='msg-content' [ngClass]="{'up':onPlus && plf==='android','android-height': plf==='android'}" (tap)="isPlus()"
    (scroll)="doscroll($event)">
    <div *ngFor="let item of list;let i=index ">
      <div class="msgarea">
        <div [ngClass]="item.toUserName === userinfo.username ? 'other' : 'me'" [ngSwitch]="item.contentType">
          <img class="icon" [src]="item.toUserName === userinfo.username ? fromUserAvatarSrc : myAvatarSrc">
          <ng-template [ngSwitchCase]="'text'">
            <div class="msg" *ngIf="!item.childType">
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_int' : ' arrow_r_int'"></span>
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_out' : ' arrow_r_out'"></span>
              <div [class.selectable]="selectable === i" class="msg-detail" [innerHTML]="item.content | sgChineseConv " (touchstart)="selectable=i"></div>
            </div>
            <div class="msg" *ngIf="item.childType" (tap)="openMap(item.extra.content)">
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_int' : ' arrow_r_int'"></span>
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_out' : ' arrow_r_out'"></span>
              <!--<div myBMap id="allmap" class="map" [pos]="item.extra.content" [addCtrl]="addCtrl" (tap)="openMap(item.extra.content)"></div>-->
              <div [class.selectable]="selectable === i" [innerHTML]="item.content | sgChangeSpace | sgChineseConv " (touchstart)="selectable=i"></div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="'image'">
            <!-- <img src={{item.content}} class='img_content' (tap)="openPhoto(item.content)"> -->
            <!-- <img src={{item.content}} [ngClass]='getImageClass(item.imageHeight,item.imageWidth)' (tap)="openPhoto(item.content)"> -->
            <img src={{item.content}} [ngClass]="{'img_fang':item.imageHeight === item.imageWidth,'img_heng':item.imageHeight < item.imageWidth,'img_shu':item.imageHeight > item.imageWidth}"
              #myImage (tap)="presentImage(myImage,item.msgID,item.fromUserName)">
          </ng-template>
          <ng-template [ngSwitchCase]="'voice'">
            <div class="msg" (tap)="openvoiceflag===false?selectable=i:'';openvoice(item);">
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_int' : ' arrow_r_int'"></span>
              <span [ngClass]="item.toUserName === userinfo.username ? ' arrow_l_out' : ' arrow_r_out'"></span>
              <div class="voice" [class.voice_play]="selectable === i"></div>
              <div [ngClass]="getBlank(item.duration)"></div>
            </div>
            <div class="voicemark">
              <div class="voiceunread" *ngIf="item.vounread==='Y'"></div><span class="voicetime">{{item.duration+'"'}}</span></div>
          </ng-template>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="input" id="input" [ngClass]="onPlus?'up':'down'" *ngIf="plf === 'android' ">
    <div class="input_layout">
      <span *ngIf="!isvoice" class="iconfontyyy input_icon voice" (tap)="onvoice()">&#xe68b;</span>
      <span *ngIf="isvoice" class="iconfontyyy input_icon voice" (tap)="onvoice()">&#xe611;</span>
      <span class="iconfontyyy input_icon face">&#xe61e;</span>
      <span class="iconfontyyy input_icon plus" *ngIf="!input_text" (tap)="clickPlus()">&#xe649;</span>
      <input *ngIf="!isvoice" class="input_text" [(ngModel)]="input_text" name="input_text" (focus)="isPlus()">
      <button *ngIf="isvoice" class="input_voice" (press)="rec_voice()" (touchend)="endrce_voice()" [class.isrec]="isrec==true">{{voiceflagdesc}}</button>
      <div *ngIf="input_text" class="send" (tap)="sendMessage(1,input_text)" tappable>發送</div>
    </div>
    <div class="button-bar" *ngIf="onPlus">
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=getPhoto(0)>
                   <ion-icon name='image' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.picture}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=getPhoto(1)>
                    <ion-icon name='camera' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.camera}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only>
                   <ion-icon name='person' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.personcard}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=sendLocation()>
                   <ion-icon name='pin' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.location}}</div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer keyboardAttach [content]="content" class="messagebar" *ngIf="plf === 'ios' ">
  <div class="input" id="input">
    <div class="input_layout">
      <span *ngIf="!isvoice" class="iconfontyyy input_icon voice" (tap)="onvoice()">&#xe68b;</span>
      <span *ngIf="isvoice" class="iconfontyyy input_icon voice" (tap)="onvoice()">&#xe611;</span>
      <span class="iconfontyyy input_icon face">&#xe61e;</span>
      <span class="iconfontyyy input_icon plus" *ngIf="!input_text" (tap)="clickPlus()">&#xe649;</span>
      <input *ngIf="!isvoice" class="input_text" [(ngModel)]="input_text" name="input_text" (focus)="isPlus()">
      <button *ngIf="isvoice" class="input_voice" (press)="rec_voice()" (touchend)="endrce_voice()" [class.isrec]="isrec==true">{{voiceflagdesc}}</button>
      <div *ngIf="input_text" class="send" (tap)="sendMessage(1,input_text)" tappable>發送</div>
    </div>
    <div class="button-bar" *ngIf="onPlus">
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=getPhoto(0)>
                   <ion-icon name='image' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.picture}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=getPhoto(1)>
                    <ion-icon name='camera' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.camera}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only>
                   <ion-icon name='person' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.personcard}}</div>
      </div>
      <div class="btt">
        <button ion-button color="light" class="button-ion" large icon-only (tap)=sendLocation()>
                   <ion-icon name='pin' class="icon-img" ></ion-icon>
                </button>
        <div class="icon-content">{{languageContent.location}}</div>
      </div>
    </div>
  </div>
</ion-footer>
