<ion-header>
  <ion-navbar>
    <ion-title>{{'inspection.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row center wrap>
      <ion-col col-4 class="grid-col" *ngFor="let name of names" (tap)="goToDetailPage(name.ID)">
        <div class="grid-content">
          <a>
            <img [src]="name.IMAGE_URL" class="grid-img">
            <div class="grid-name">{{name.NAME |sgChineseConv}}</div>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
