<ion-header>
  <ion-navbar>
    <ion-title>{{'inspection.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row center wrap>
      <ion-col col-4 class="grid-col" (tap)="goToBoss()">
        <div class="grid-content">
          <a>
            <img src="assets/icon/7s.gif" class="grid-img">
            <div class="grid-name">{{'inspection.boss' | translate}}</div>
          </a>
        </div>
      </ion-col>
      <ion-col col-4 class="grid-col" (tap)="goToIPQA()">
        <div class="grid-content">
          <a>
            <img src="assets/icon/IPQA.gif" class="grid-img">
            <div class="grid-name">IPQA</div>
          </a>
        </div>
      </ion-col>
      <ion-col col-4 class="grid-col">
        <div class="grid-content">
          <a>
            <img src="assets/icon/equip2.png" class="grid-img" (tap)="goToEuqip()">
            <div class="grid-name">{{'inspection.equip2' | translate}}</div>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
