<div>
  <button class="book-list" *ngFor="let book of books" (click)="goToDetailPage(book)">
    <div class="book-image">
      <img [src]="book.IMAGE">
    </div>
    <div class="book-info">
      <div class="book-info-style">
        <div>{{'bookLibrary.booklistTitle'|translate}}: {{book.TITLE |sgChineseConv}}</div>
        <div>{{'bookLibrary.booklistAuthor'|translate}}: {{book.AUTHOR | sgChineseConv}}</div>
        <div>{{'bookLibrary.price'|translate}}: {{book.PRICE|sgChineseConv}}</div>
        <div>{{'bookLibrary.publisher'|translate}}: {{book.PUBLISHER|sgChineseConv}}</div>
        <div *ngIf="!showAddBookInput && !showPayBackDate && !showActualBackDate">{{'bookLibrary.qty'|translate}}: {{book.QTY}}</div> 
        <div *ngIf="showAddBookInput">
          {{'bookLibrary.addQty'|translate}}:<input type="text" style="text-indent: 5px;" (input)="inputChange($event)" value="1" />
        </div>
        <div *ngIf="showPayBackDate" [class]="compareDate(book.SHOULD_PAYBACK_DATE)">
          {{'bookLibrary.shouldPayBackDate'|translate}}: {{book.SHOULD_PAYBACK_DATE | date:"y-MM-dd"}}
        </div>
        <!-- <div  [ngClass]="{'red':true}">dasda </div> -->
        <!-- <div *ngIf="showPayBackDate" [ngClass]="{'red':true}">
            {{'bookLibrary.shouldPayBackDate'|translate}}: {{book.SHOULD_PAYBACK_DATE | date:"y-MM-dd"}}
        </div> -->
        <div *ngIf="showActualBackDate">{{'bookLibrary.actualPaybackDate'|translate}}: {{book.ACTUAL_PAYBACK_DATE | date:"y-MM-dd"}}</div>
      </div>
    </div>
  </button>
  <div class="line"></div>
</div>
