<ion-header>
  <ion-navbar>
    <ion-title>IPQA</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row center wrap>
      <!-- <ion-col col-4 class="grid-col">
        <div class="grid-content">
          <a>
            <img src="assets/icon/list.gif" class="grid-img">
            <div class="grid-name">{{'inspection.inspectionName' | translate}}</div>
          </a>
        </div>
      </ion-col> -->
      <ion-col col-4 class="grid-col" (tap)="goToReportPage()">
        <div class="grid-content">
          <a>
            <img src="assets/icon/report.gif" class="grid-img">
            <div class="grid-name">{{'inspection.report' | translate}}</div>
          </a>
        </div>
      </ion-col>
      <ion-col col-4 class="grid-col" (tap)="goToTeamLeader()">
        <div class="grid-content">
          <a>
            <img src="assets/icon/assign.png" class="grid-img">
            <div class="grid-name">{{'inspection.inspectionHandler' | translate}}</div>
          </a>
        </div>
      </ion-col>
      <ion-col col-4 class="grid-col" (tap)="goToTeamHandler()">
        <div class="grid-content">
          <a>
            <img src="assets/icon/gaishan.gif" class="grid-img">
            <div class="grid-name">{{'inspection.gaishan' | translate}}</div>
          </a>
        </div>
      </ion-col>
      <ion-col col-4 class="grid-col">
        <div class="grid-content">
          <a>
            <img src="assets/icon/problem.gif" class="grid-img">
            <div class="grid-name">{{'inspection.problem' | translate}}</div>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
