sg-leave-form {
  .search {
    position: absolute;
    top: 506px;
    left: 20%;
    z-index: 1000;
    width: 100%;
  }
  .search-result {
    cursor: pointer;
    width: 60%;
  }

  .list-group {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .main{
    position:relative;
    .layer{
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }
  //重设select宽度样式
  ion-select {
    max-width: 85%;
  }
  ion-label,ion-note,ion-select,ion-datetime,ion-input,ion-item{
    font-size: 16px;
  }
  .item-block {
    min-height: 4.0rem;
  }
}
