<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!formData.status">{{'attendance.new' | translate}}{{formData.type | sgFormType | translate}}</ion-title>
    <ion-title *ngIf="formData.status">{{formData.type | sgFormType | translate}}{{'attendance.detail' | translate}}</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (tap)="presentPopover($event)">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>
<ion-content class="main">
  <div [class.layer]="['APPROVED','WAITING'].indexOf(formData.status.toUpperCase())>-1">
  </div>
  <ion-item-divider class='alert error' *ngIf="errTip">{{errTip}}</ion-item-divider>
  <ion-list *ngIf="formData.status && formData.No">
    <ion-item class="myForm auto first">
      {{'attendance.form_status' | translate}}
      <ion-note item-right>
        {{formData.status}}
      </ion-note>
    </ion-item>

    <ion-item class="myForm auto">
      {{'attendance.form_No' | translate}}
      <ion-note item-right>
        {{formData.No}}
      </ion-note>
    </ion-item>
  </ion-list>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list class="myList">
      <ion-item [class.has-error]="myValidators.reasonType.error" [class.has-success]="myValidators.reasonType.pass">
        <ion-label>*{{'attendance.reasonType' | translate}}</ion-label>
        <ion-select [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate" formControlName="reasonType" #type>
          <ion-option *ngFor="let item of holidayType" [value]="item.type">{{item.name | sgChineseConv}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- <div class="myitem">
        <ion-label>{{fontContent.autoSet}}</ion-label>
        <div class="myToggle">
          <ion-toggle formControlName="autoSet"></ion-toggle>
        </div>
      </div> -->
      <ion-item>
        <ion-label>{{'attendance.autoSet' | translate}}</ion-label>
        <ion-toggle formControlName="autoSet"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>*{{'attendance.startDate' | translate}}</ion-label>
        <ion-datetime  type="datetime-local" displayFormat="YYYY/MM/DD"  formControlName="startDate"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>*{{'attendance.endDate' | translate}}</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"  formControlName="endDate"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>*{{'attendance.startTime' | translate}}</ion-label>
        <ion-datetime displayFormat="mm:ss" pickerFormat="HH:mm:ss" formControlName="startTime"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate" hourValues ="0" [minuteValues]="startHourRange"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>*{{'attendance.endTime' | translate}}</ion-label>
        <ion-datetime displayFormat="mm:ss" pickerFormat="HH:mm:ss"  hourValues ="0" [minuteValues]="endHourRange"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate" formControlName="endTime"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="timeError " class='alert'>{{timeError}}</ion-item-divider>
      <ion-item class="searchOut" [class.has-error]="myValidators.colleague.error" [class.has-success]="myValidators.colleague.pass">
        <ion-label>*{{'attendance.colleague' | translate}}</ion-label>
        <ion-input type="text" #name [placeholder]="'attendance.colleague_placeholder' | translate" (keyup)="search(name)" formControlName="colleague" data-v-required="true" data-v-required-message="请选择代理人"></ion-input>
      </ion-item>
      <div class="searchOut">
        <ul class="list-group" [class.search]="colleague">
          <li *ngFor="let person of colleague | async" (tap)="getcolleague(person.AGENT_NAME)"
              class="search-result list-group-item">{{person.AGENT_NAME}}</li>
        </ul>
      </div>
      <ion-item-divider *ngIf="myValidators.colleague.error" class='alert'>{{myValidators.colleague.error}}</ion-item-divider>
      <ion-grid *ngIf="dayLeave && hourLeave">
        <ion-row>
          <ion-col width-50>
            <ion-item class="myForm auto">
              {{'attendance.leave_day' | translate}}
              <ion-note item-right>
                {{dayLeave}}
              </ion-note>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item class="myForm auto">
              {{'attendance.leave_hour' | translate}}
              <ion-note item-right>
                {{hourLeave}}
              </ion-note>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item [class.has-error]="myValidators.reason.error" [class.has-success]="myValidators.reason.pass">
        <ion-label>*{{'attendance.LeaveReason' | translate}}</ion-label>
        <ion-textarea rows="2" cols="20" formControlName="reason" class="reasonTest"
         #reason
        ></ion-textarea>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.reason.error" class='alert'>{{myValidators.reason.error}}</ion-item-divider>
      <ion-grid *ngIf="['APPROVED','WAITING'].indexOf(formData.status.toUpperCase())<0">
        <ion-row>
          <ion-col width-50>
            <ion-buttons left>
              <button ion-button class = "submit" type="submit" [disabled]="!todo.valid || myValidators.reason.error || myValidators.colleague.error || !isSelectcolleague || timeError">{{'attendance.sign' | translate}}</button>
            </ion-buttons>
          </ion-col>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button type="button" [disabled]="!todo.valid || myValidators.reason.error || myValidators.colleague.error || !isSelectcolleague || timeError" (tap)="saveForm()">{{'attendance.save' | translate}}</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
