sg-equip-report {
    .disabled {
        color: #999;
        font-weight: 300;
    }
    .float-right {
        display: block;
        float: right;
    }
    .detail {
        margin: 10px 10px;
    }
    .list {
        background-color: #f7f7f7;
        &.last{
            padding-bottom: 1px; 
        }
    }
    ion-icon[name="checkmark-circle"]{
        color:#387ef5
    }

    ion-icon[name="qr-scanner"]{
        color:#387ef5;
    }
    .fix-height {
        .item-block {
            min-height: 0;
            height: 55px;
        }
    }
    .block-none {
        height: 100%;;
        display: block;
       .item-block {
            padding-left: 0px;
        }
        .item-block {
            min-height: 0;
            height: 55px;
        }
        ion-label {
            display: flex;
            justify-content: center;
        }
    }
    
}