<ion-header>
  <ion-navbar>
    <ion-title>{{languageContent.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid [class.double_row]="i%2===1" *ngFor="let item of itemlist;let i=index">
    <ion-row class="myRow">
      <ion-col col-5>
        <p>{{ item.DOCNO }}</p>
        <p>{{ item.EMPNO }}{{ item.NAME }}</p>
      </ion-col>
      <ion-col col-4>
        <p>{{item.EFFECT_DATE.substr(0,10) }}</p>
        <p>{{item.KIND_REMARK}}{{item.TIMES}}次</p>
      </ion-col>
      <ion-col col-3>
        <p>{{item.STATUS }}</p>
        <p>{{item.SUIT_ORDINANCE }}</p>
      </ion-col>
    </ion-row>
    <div class="reason" no-padding>
      <p>{{item.REASON}}</p>
    </div>
    <!--<div class="grid-footer"></div>-->
  </ion-grid>
</ion-content>