sg-reward{
  .double_row{
    background-color: #E8E8E8;
  }
 .myRow {
     p {
        margin: 5px 0PX;    
        color: #000;
    }
  }
  .reason{
         p {
        margin: 0px 0px 5px 1%;    
        color: #000;
    }
  }
.grid-footer {
      height: 1px;
      margin: 0px 0px 0px 1%;  
      background-color: #000;
 }  
}
