<ion-tabs #attendance>
  <ion-tab [root]="tab1Root" [tabTitle]="'attendance.tab1' | translate" tabIcon="pricetags"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="'attendance.tab2' | translate" tabIcon="hammer"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="'attendance.tab3' | translate" tabIcon="create"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="'attendance.tab4' | translate" tabIcon="globe"></ion-tab>
  <ion-tab [root]="tab5Root" [tabTitle]="'attendance.tab5' | translate" tabIcon="stats"></ion-tab>
</ion-tabs>
