<ion-header>
  <ion-navbar>
    <ion-title class="page-title">
      <div>{{languageContent.title}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-searchbar></ion-searchbar>
  <ion-list class="list-page">
    <ion-item *ngFor="let item of noticeListItem" (tap)="goToMessageDetailPage(item)" [ngSwitch]="item.contentType">
      <div item-left class="img-header">
        <img class="img" src={{item.fromUserAvatarSrc}}>
        <div class="badge" *ngIf="item.unreadCount > 0">{{item.unreadCount}}</div>
      </div>
      <h2 class="name">{{item.fromUserNickName | sgChineseConv}}</h2>
      <ng-template [ngSwitchCase]="'text'">
        <p class="msg">{{item.content | sgChineseConv}}</p>
      </ng-template>
      <ng-template [ngSwitchCase]="'image'">
        <p>[{{languageContent.messagetype}}]</p>
      </ng-template>
      <ion-note item-right>{{item.timedesc | sgChineseConv}}</ion-note>
    </ion-item>
  </ion-list>
  <div class="grid-footer"></div>
  <ion-list>
    <ion-item *ngFor="let item of messageListItem" (tap)="goToMessageDetailPage(item)" [ngSwitch]="item.contentType">
      <div item-left class="img-header">
        <img class="img" src={{item.fromUserAvatarSrc}}>
        <div class="badge" *ngIf="item.unreadCount > 0">{{item.unreadCount}}</div>
      </div>
      <h2 class="name">{{item.fromUserNickName | sgChineseConv}}</h2>
      <ng-template [ngSwitchCase]="'text'">
        <p class="msg">{{item.content | sgChineseConv}}</p>
      </ng-template>
      <ng-template [ngSwitchCase]="'image'">
        <p>[{{languageContent.messagetype}}]</p>
      </ng-template>
      <ion-note item-right>{{item.timedesc | sgChineseConv}}</ion-note>
    </ion-item>
  </ion-list>
  <button ion-button (click)="sendSingleMsg()">发送</button>
  <!--<button ion-button (click)="deleteAllMsgs()">删除</button>-->
  <!-- <sg-chartcomponent [content]="content"></sg-chartcomponent> -->
  <!--<div drawChat [option]="option" style="height: 300px;width: 300px;"></div>-->
  <!-- <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498637048306&di=ce45a2d3d9dfd28188e528a1bc1030df&imgtype=0&src=http%3A%2F%2Fpic002.cnblogs.com%2Fimages%2F2011%2F99312%2F2011112119295980.png"
    #myImage (click)="presentImage(myImage)" /> -->
</ion-content>
