<ion-header>
  <ion-navbar>
    <ion-title class="page-title">
      <div>消息</div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of messageListItem" (click)="goToMessageDetailPage(item)" [ngSwitch]="item.contentType">
      <div item-left class="img-header">
        <img class="img" src={{item.avatarSrc}}>
        <div class="badge" *ngIf="item.unreadCount > 0">{{item.unreadCount}}</div>
      </div>
      <h2 class="name">{{item.userNickName}}</h2>
      <template [ngSwitchCase]="'text'">
        <p class="msg">{{item.lastmsg}}</p>
      </template>
      <template [ngSwitchCase]="'image'">
        <p>[图片]</p>
      </template>
      <ion-note item-right>{{item.timedesc}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
