<ion-header>
  <ion-navbar>
    <ion-title>排班清單</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let item of schedulelist" (tap)="goToDetail(item)">
      <ion-row>
        <ion-col col-6 *ngIf='item.SCHEDULE_DATE'>
          {{item.SCHEDULE_DATE | date:"yyyy-MM-dd"}}
        </ion-col>
        <ion-col col-6 *ngIf='item.SCHEDULE_NAME'>
          {{item.SCHEDULE_NAME}}
        </ion-col>
        <ion-col col-3>
          {{item.FROM_TIME}}
        </ion-col>
        <ion-col col-3>
          {{item.TO_TIME}}
        </ion-col>
        <ion-col col-3>
          {{item.EMPNO}}
        </ion-col>
        <ion-col col-3>
          {{item.NAME}}
        </ion-col>
        <ion-col col-6>
          {{item.AREA}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>