<ion-header>
  <ion-navbar>
    <ion-title>{{type | sgFormType}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list>
      <ion-item [class.has-error]="myValidators.date.error" [class.has-success]="myValidators.date.pass">
        <ion-label>日期*</ion-label>
        <ion-datetime displayFormat="YYYY/MM" formControlName="date"
        cancelText="取消" doneText="确认"
        yearValues="2017"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.date.error " class='alert'>{{myValidators.date.error}}</ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button class="submit" type="submit" [disabled]="!todo.valid || myValidators.date.error">提交</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
