<ion-header>
  <ion-navbar>
    <ion-title>{{type | sgFormType | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list class="myList">
      <ion-item [class.has-error]="myValidators.date.error" [class.has-success]="myValidators.date.pass">
        <ion-label>*{{'attendance.date' | translate}}</ion-label>
        <ion-datetime displayFormat="YYYYMM" formControlName="date"
        [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate"
        min="2000" [max]="selectMaxYear"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.date.error " class='alert'>{{myValidators.date.error}}</ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button class="submit" type="submit" [disabled]="!todo.valid || myValidators.date.error">{{'attendance.search' | translate}}</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
