<ion-header>
  <ion-navbar>
    <ion-title>{{type | sgFormType}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <h2>日期： {{item.CVT_IDATE | sgTTime | date:"yyyy/MM/dd" }}</h2>
      <p>星期{{item.WEEK}}</p>
      <p>时间： {{item.TIME}}</p>
      <p>类别： {{item.IDUTY | sgOtherType:'swipeType'}}</p>
      <p>班别： {{item.DUTY_KIND}}</p>
      <p>进/出： {{item.FLAG}}</p>
      <p>刷卡位置： {{item.POSITION}}</p>
    </ion-item>
  </ion-list>
</ion-content>
