<ion-header>
  <ion-navbar>
    <ion-title>改善项目</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="disabled">
      <ion-label>负责人</ion-label>
      <ion-note item-right>
        小明
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>需改善项目</ion-label>
      <ion-note item-right>
        1
      </ion-note>
    </ion-item>
    <ion-grid class="lists" *ngIf="type === 1">
      <ion-item>
        <ion-row *ngFor="let item of testData1" (tap)="toDetail(item)">
          <ion-col col-5>
            {{item.time}}
          </ion-col>
          <ion-col col-3>
            {{item.name}}
          </ion-col>
          <ion-col col-4>
            {{item.site}}
          </ion-col>
          <ion-col col-10>
            {{item.detail}}
          </ion-col>
          <ion-col col-10>
            {{item.status}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
    <ion-grid class="lists" *ngIf="type === 2">
      <ion-item>
        <ion-row *ngFor="let item of testData2" (tap)="toDetail(item)">
          <ion-col col-5>
            {{item.time}}
          </ion-col>
          <ion-col col-3>
            {{item.name}}
          </ion-col>
          <ion-col col-4>
            {{item.site}}
          </ion-col>
          <ion-col col-5>
            {{item.equip_num}}
          </ion-col>
          <ion-col col-3>
            {{item.issue}}
          </ion-col>
          <ion-col col-4>
            {{item.status}}
          </ion-col>
          <ion-col col-12>
            {{item.detail}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-list>
</ion-content>
