<ion-header>
  <ion-navbar>
    <ion-title>改善项目</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="disabled">
      <ion-label>负责人</ion-label>
      <ion-note item-right>
        小明
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>需改善项目</ion-label>
      <ion-note item-right>
        1
      </ion-note>
    </ion-item>
    <div class="lists" *ngIf="type === 1 && list" >
      <sg-boss-item *ngFor="let item of list" (tap)="toDetail(item)" [item]="item"></sg-boss-item>
    </div>
    <div class="lists" *ngIf="type === 2">
      <sg-equip-item *ngFor="let item of testData2" (tap)="toDetail(item)" [item]="item"></sg-equip-item>
    </div>
  </ion-list>
</ion-content>
