sg-sign-list {
  ion-card {
    min-width: 300px;
    overflow-x: scroll;
  }
  h3 {
    display: flex;
    justify-content:space-between;
    p.status {
      color:green;
      &.waiting {
        color: red;
      }
    }
    p.waiting {
      color: red;
    }
  }
}
