<ion-header>

  <ion-navbar>
    <ion-title>簽核歷史記錄</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let item of items;let i = index;">
      <ion-item-divider color="light">版本： {{item.REVISION}}</ion-item-divider>
      <ion-item *ngFor="let itemSub of item.INFO" >
          <h2>序列: {{itemSub.SEQ}}</h2>
          <h3>签核人： {{itemSub.APPROVER}}</h3>
          <h3 *ngIf="itemSub.ARENT_FROM">代理人： {{itemSub.ARENT_FROM}}</h3>
          <p>签核状态： {{itemSub.STATUS}}</p>
          <p>送签时间： {{itemSub.IN_TIME | sgTTime | date:"yyyy/MM/dd HH:mm"}}</p>
          <p>签核时间： {{itemSub.OUT_TIME | sgTTime | date:"yyyy/MM/dd HH:mm"}}</p>
          <p *ngIf="itemSub.COMMENTS" >备注： {{itemSub.COMMENTS}}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
