<ion-searchbar (ionInput)="getItems($event)" [placeholder]="fontContent.search_placeholder" class = "searchBar"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items" (click)="toDetail(item)">
    <h2>{{fontContent.form_No}}： {{ item.No }}</h2>
    <!-- <p *ngIf="+item.type>1">状态： {{item.status}}</p> -->
    <p *ngIf="+item.type<2">{{fontContent.startTime}}： {{ item.data.startTime | date:"yyyy/MM/dd HH:mm" }}</p>
    <p *ngIf="+item.type<2">{{fontContent.endTime}}： {{ item.data.endTime | date:"yyyy/MM/dd HH:mm" }}</p>
    <p *ngIf="item.type === '2' ">{{fontContent.startTime}}： {{item.data.startDate +' ' + item.data.startTime.substr(3) }}</p>
    <p *ngIf="item.type === '2' ">{{fontContent.endTime}}： {{item.data.endDate +' ' + item.data.endTime.substr(3) }}</p>
    <p *ngIf="item.type === '4'">{{fontContent.businessTime}}： {{ item.data.businessTime | date:"yyyy/MM/dd" }}</p>
    <p *ngIf="item.type === '3'">{{fontContent.OTtime}}： {{ item.data.OTtime | date:"yyyy/MM/dd" }}</p>
    <p *ngIf="item.type === '3'">{{fontContent.startTime}}： {{ item.data.startTime.substr(3) }}</p>
    <p *ngIf="item.type === '3'">{{fontContent.endTime}}： {{ item.data.endTime.substr(3) }}</p>
    <p>{{fontContent.type}}： {{item.data.reasonType | sgReasonType: item.type}}</p>
    <p *ngIf="item.type === '5'">{{fontContent.leave_No}}： {{item.data.leave_No}}</p>
    <p *ngIf="item.type === '5'">{{fontContent.callback_reason}}： {{item.data.reason}}</p>
    <button ion-button outline item-right color = "secondary" *ngIf="item.status.toUpperCase() !== 'WAITING'">
      {{item.status}}
    </button>
    <button ion-button outline item-right color = "danger" *ngIf="item.status.toUpperCase() === 'WAITING'">
      {{item.status}}
    </button>
  </ion-item>
</ion-list>
