sg-list-filter {
  ion-list.myList {
    height: 90%;
    width: 100%;
    overflow: scroll;
    ion-item {
      min-width: 355px;
      overflow-x: scroll
    }
  }
  h2.myRow {
    display: flex;
    justify-content: space-between;
    ion-row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      p {
        color: #000;
        &.waiting {
          color: red;
        }
      }
    }
  }
  ion-row.myRow {
    ion-col {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &.margin {
        transform: translateX(5%);
      }
      p {
        color: #000;
        &.waiting {
          color: red;
        }
      }
    }
  }
}
