<ion-header>

  <ion-navbar>
    <ion-title>{{'attendance.tab4' | translate}}</ion-title>
    <sg-back-button></sg-back-button>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="myList">
    <button ion-item (tap)='swipe_note()'>
    {{'attendance.swipe_note' | translate}}
    </button>
    <button ion-item (tap)='attendance_month()'>
    {{'attendance.attendance_month' | translate}}
    </button>
    <button ion-item (tap)='attendance_detail()'>
    {{'attendance.attendance_detail' | translate}}
    </button>
    <button ion-item (tap)='to_detail()'>
    {{'attendance.to_detail' | translate}}
    </button>
  </ion-list>
</ion-content>
