<ion-header>

  <ion-navbar>
    <ion-title>{{fontContent.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item (click)='swipe_note()'>
    {{fontContent.swipe_note}}
    </button>
    <button ion-item (click)='attendance_month()'>
    {{fontContent.attendance_month}}
    </button>
    <button ion-item (click)='attendance_detail()'>
    {{fontContent.attendance_detail}}
    </button>
    <button ion-item (click)='to_detail()'>
    {{fontContent.to_detail}}
    </button>
  </ion-list>
</ion-content>
