sg-check-list {
    .add {
        .item-inner {
            background-color: darken(#f7f7f7, 7);
        }
    }
    .minus {
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        color: red;
    }
    .subForm {
        background-color: #f7f7f7;
    }
}