<ion-header>
  <ion-navbar>
    <ion-title>{{languageContent.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user">
  <ion-list class="my-detail myList">
    <button ion-item>
          {{languageContent.photo}}
          <ion-note item-right class="person" (tap)="changePhoto()">
           <img [src]="user.avatarUrl" class="avatar">
          </ion-note>
      </button>
    <button ion-item>
          {{languageContent.name}}
          <ion-note item-right>
          {{user.nickname}}
          </ion-note>
      </button>
    <button ion-item (tap)="showQr()">
         {{languageContent.Qr}}
          <ion-note item-right>
          <i class="iconfontyyy">&#xe613;</i>
          </ion-note>
      </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item>
        {{languageContent.mobile}}
        <ion-note item-right>
        {{user.telephone}}
        </ion-note>
    </button>
    <button ion-item>
        {{languageContent.telephone}}
        <ion-note item-right>
        {{user.mobile}}
        </ion-note>
    </button>
    <button ion-item>
        {{languageContent.mail}}
        <ion-note item-right>
        {{user.email}}
        </ion-note>
    </button>
  </ion-list>
</ion-content>
