<ion-header color="mac">
  <ion-navbar color="mac">
    <ion-title>我的资料</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user">
  <ion-list class="my-detail myList">
    <button ion-item>
          头像
          <ion-note item-right class="person" (click)="changePhoto()">
           <img [src]="user.avatarUrl" class="avatar">
          </ion-note>
      </button>
    <button ion-item>
          姓名
          <ion-note item-right>
          {{user.nickname}}
          </ion-note>
      </button>
    <button ion-item (click) = "showQr()">
         我的二维码
          <ion-note item-right>
          <i class="iconfontyyy">&#xe613;</i>
          </ion-note>
      </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item>
        手机
        <ion-note item-right>
        {{user.telephone}}
        </ion-note>
    </button>
    <button ion-item>
        电话
        <ion-note item-right>
        {{user.mobile}}
        </ion-note>
    </button>
    <button ion-item>
        邮箱
        <ion-note item-right>
        {{user.email}}
        </ion-note>
    </button>
  </ion-list>
</ion-content>
