sg-detail {
  .my-detail {
    button {
      font-size: 150%;
      ion-note {
        font-size: 90%;
        .iconfontyyy {
          font-size: 150%;
        }
      }
    }
    .person {
      overflow: hidden;
      width: $headImgSize;
      height: $headImgSize;
      border-radius: 2*$headImgSize;
      border: solid 2px #EEB174;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .error {
    color:red;
    text-align: center;
  }
}
