<ion-header>
  <ion-navbar>
    <ion-title>IPQA</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'inspection.ipqa.chooseLine' | translate}}:</ion-label>
      <ion-select [(ngModel)]="selectedLine" (ionChange)="onSelectChange()">
        <ion-option [value]="line" *ngFor="let line of lines">{{line.LINE_NAME |sgChineseConv}}</ion-option>
        <!-- <ion-option [value]="line" *ngFor="let line of lines">{{line |sgChineseConv}}</ion-option> -->
      </ion-select>
    </ion-item>
  </ion-list>
  <sg-grid [title]="translateTexts['inspection.ipqa.module']  " [data]="modules" (dataChange)="changeModule($event)"></sg-grid>
  <div class="line"></div>
  <sg-grid [title]="translateTexts['inspection.ipqa.stationTitle'] " [data]="stations" (dataChange)="changeStation($event)"></sg-grid>
  <div class="next-button" *ngIf="stations.length >0">
    <button ion-button block (tap)="goToChooseStationPage()">{{'inspection.ipqa.next' | translate}}</button>
  </div>
</ion-content>
