<ion-header>

  <ion-navbar>
    <ion-title>{{ 'chart.tab1' | translate}}</ion-title>
    <ion-buttons>
      <button ion-button (tap)="exit()">{{ 'exit' | translate}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="myList">
    <button ion-item (tap)='storage_flow()'>
    {{ 'chart.storage_flow' | translate}}
    </button>
    <button ion-item (tap)='storage_age()'>
    {{ 'chart.storage_age' | translate}}
    </button>
    <button ion-item (tap)='obs_storage()'>
    {{ 'chart.obs_storage' | translate}}
    </button>
    <button ion-item (tap)='obs_po()'>
    {{ 'chart.obs_po' | translate}}
    </button>
  </ion-list>
</ion-content>
