<ion-header>

  <ion-navbar>
    <ion-title>ERP-庫存管理</ion-title>
    <ion-buttons>
      <button ion-button (tap)="exit()">返回</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="myList">
    <button ion-item (tap)='storage_flow()'>
    存貨周轉天數(月報)
    </button>
    <button ion-item (tap)='starage_age()'>
    庫存賬齡分析(月報)
    </button>
    <button ion-item (tap)='obs_storage()'>
    OBS庫存分析(週報)
    </button>
    <button ion-item (tap)='obs_po()'>
    OBS PO分析(週報)
    </button>
  </ion-list>
</ion-content>
