<ion-header>

  <ion-navbar>
    <ion-title>个人维护详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="leaveDays">
    <ion-item>
      特休假生效日期：
      <ion-note item-right>
        {{leaveDays.STADATE}}
      </ion-note>
    </ion-item>
    <ion-item-group>
      <ion-item-divider color="light">可用假天数</ion-item-divider>
      <ion-item *ngFor="let item of leaveDays.detail_canUse">
        {{item.type | sgOtherType: 'leaveDayType'}}
        <ion-note item-right>
          {{item.value}}
        </ion-note>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">已用假天数</ion-item-divider>
      <ion-item *ngFor="let item of leaveDays.detail_used">
        {{item.type | sgOtherType: 'leaveDayType'}}
        <ion-note item-right>
          {{item.value}}
        </ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
