<ion-header>

  <ion-navbar>
    <ion-title>{{'attendance.title5' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="leaveDays" class="myList">
    <ion-item>
      {{'attendance.STADATE' | translate}}
      <ion-note item-right>
        {{leaveDays.STADATE}}
      </ion-note>
    </ion-item>
    <ion-item-group>
      <ion-item-divider color="light">{{'attendance.canUse' | translate}}</ion-item-divider>
      <ion-item *ngFor="let item of leaveDays.detail_canUse">
        {{item.type | sgOtherType: 'leaveDayType' | sgChineseConv}}
        <ion-note item-right>
          {{item.value}}
        </ion-note>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">{{'attendance.used' | translate}}</ion-item-divider>
      <ion-item *ngFor="let item of leaveDays.detail_used">
        {{item.type | sgOtherType: 'leaveDayType' | sgChineseConv}}
        <ion-note item-right>
          {{item.value}}
        </ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
