<ion-header>
  <ion-navbar id="navbar">
    <ion-title>{{type | sgFormType | sgChineseConv}}</ion-title>
    <ion-buttons *ngIf="type === '100'">
      <button ion-button (tap)="exit()">{{fontContent.exit}}</button>
    </ion-buttons>
    <ion-buttons end *ngIf="+type>1 && +type<5 && !approved">
      <button ion-button (tap)="newForm()">{{fontContent.new}}{{type | sgFormType}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <sg-list-filter [myset]="{type:type,formData:formData}" *ngIf="showList"></sg-list-filter>
</ion-content>
