<ion-header>
  <ion-navbar id="navbar">
    <ion-title>{{type | sgFormType}}</ion-title>
    <ion-buttons *ngIf="type === '100'">
      <button ion-button (click)="exit()">退出</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="帅选"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="toDetail(item)">
      {{ item.No }}
      <ion-badge item-right color="mac">{{item.status}}</ion-badge>
    </ion-item>
  </ion-list> -->
  <sg-list-filter [myset]="{type:type,formData:formData}" *ngIf="showList"></sg-list-filter>
</ion-content>
