<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!formData.status">{{'attendance.new' | translate}}{{formData.type | sgFormType | translate}}</ion-title>
    <ion-title *ngIf="formData.status">{{formData.type | sgFormType | translate}}{{'attendance.detail' | translate}}</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (tap)="presentPopover($event)">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="main">
  <div [class.layer]="['APPROVED','WAITING','FINISHED'].indexOf(formData.status.toUpperCase())>-1">
  </div>
  <ion-item-divider class='alert error' *ngIf="errTip">{{errTip}}</ion-item-divider>
  <ion-list *ngIf="formData.status && formData.No">
    <ion-item class="myForm auto first">
      {{'attendance.form_status' | translate}}
      <ion-note item-right>
        {{formData.status}}
      </ion-note>
    </ion-item>

    <ion-item class="myForm auto">
      {{'attendance.form_No' | translate}}
      <ion-note item-right>
        {{formData.No}}
      </ion-note>
    </ion-item>
  </ion-list>
  <form [formGroup]="todo" *ngIf="todo" (ngSubmit)="leaveForm()">
    <ion-list class="myList">
      <ion-item>
        <ion-label>*{{'attendance.leave_No' | translate}}</ion-label>
        <ion-input readonly formControlName="leave_No"></ion-input>
      </ion-item>
      <ion-item [class.has-error]="myValidators.reason.error" [class.has-success]="myValidators.reason.pass">
        <ion-label>*{{'attendance.callBackReason' | translate}}</ion-label>
        <ion-textarea rows="2" cols="20" formControlName="reason" class="reasonTest"></ion-textarea>
      </ion-item>
      <ion-item-divider *ngIf="myValidators.reason.error" class='alert'>{{myValidators.reason.error}}</ion-item-divider>
      <ion-grid *ngIf="['APPROVED','WAITING','FINISHED'].indexOf(formData.status.toUpperCase())<0">
        <ion-row>
          <ion-col width-50>
            <ion-buttons left>
              <button ion-button class="submit" type="submit" [disabled]="!todo.valid || myValidators.reason.error ">{{'attendance.sign' | translate}}</button>
            </ion-buttons>
          </ion-col>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button type="button" [disabled]="!todo.valid || myValidators.reason.error " (tap)="saveForm()">{{'attendance.save' | translate}}</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
