<ion-header>
  <ion-navbar>
    <ion-title>{{'bookLibrary.settingTitle'| translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'bookLibrary.scan'| translate}}</ion-label>
      <ion-toggle [(ngModel)]="scanFlag"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'bookLibrary.batchAddBooks'| translate}}</ion-label>
      <ion-toggle [(ngModel)]="batchAddBooks"></ion-toggle>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="dismiss()">{{'bookLibrary.goBack'| translate}}</button>
</ion-content>
