<ion-header>
  <ion-navbar>
    <ion-title>问题及改善措施</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="type === 1">
    <ion-item class="disabled">
      <ion-label>值班日期</ion-label>
      <ion-note item-right>
        {{issue.time}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>巡检人员</ion-label>
      <ion-note item-right>
        {{issue.name}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>地点</ion-label>
      <ion-note item-right>
        {{issue.site}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>问题详述</ion-label>
      <ion-note item-right>
        {{issue.detail}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      附图
    </ion-item>
    <ion-item class="disabled">
      <ion-label>处理人</ion-label>
      <ion-note item-right>
        {{issue.inCharge}}
      </ion-note>
      <ion-icon name="refresh" item-end (tap)="pushBack()"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="type === 2">
    <ion-item class="disabled">
      <ion-label>值班日期</ion-label>
      <ion-note item-right>
        {{issue.time}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>巡检人员</ion-label>
      <ion-note item-right>
        {{issue.name}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>设备编号</ion-label>
      <ion-note item-right>
        {{issue.equip_num}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>存放位置</ion-label>
      <ion-note item-right>
        {{issue.site}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>发现问题</ion-label>
      <ion-note item-right>
        {{issue.issue}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      <ion-label>问题详述</ion-label>
      <ion-note item-right>
        {{issue.detail}}
      </ion-note>
    </ion-item>
    <ion-item class="disabled">
      附图
    </ion-item>
    <ion-item class="disabled">
      <ion-label>处理人</ion-label>
      <ion-note item-right>
        {{issue.inCharge}}
      </ion-note>
      <ion-icon name="refresh" item-end (tap)="pushBack()"></ion-icon>
    </ion-item>
  </ion-list>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>*整改措施</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>*改善状况</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        附图
        <sg-photo-view></sg-photo-view>
      </ion-item>
      <ion-item>
        <ion-label>*导入日期</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" [cancelText]="'attendance.cancle' | translate" [doneText]="'attendance.confirm' | translate"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
