sg-issue-detail{
    ion-icon[name="refresh"] {
        color:red;
        transform: translate(0%, 13%)
    }
    .disabled ion-label{
        color: #aeacb4
    }
    span.disabled {
        color: #aeacb4
    }
}