<ion-header>
  <ion-navbar>
    <ion-title>{{languageContent.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="myList">
    <button ion-item class="function-message">
      <ion-icon name="swap" color="mac"></ion-icon>
        &nbsp;{{languageContent.flowMes}}
    </button>
    <button ion-item class="function-message" (tap)="toNineCode()">
      <ion-icon name="lock" color="mac"></ion-icon>
        &nbsp;{{languageContent.lock}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="unlock" color="mac"></ion-icon>
        &nbsp;{{languageContent.changePWD}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="people" color="mac"></ion-icon>
        &nbsp;{{languageContent.peopleResource}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="calendar" color="mac"></ion-icon>
        &nbsp;{{languageContent.canlendarSync}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="checkUpdate()">
      <ion-icon name="planet" color="mac"></ion-icon>
        &nbsp;{{languageContent.checkUpdate}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="trash" color="mac"></ion-icon>
        &nbsp;{{languageContent.dropChatNote}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="trash" color="mac"></ion-icon>
        &nbsp;{{languageContent.dropSave}}
    </button>
    <button ion-item class="function-message" (tap)="changeFont()">
      <ion-icon name="git-compare" color="mac"></ion-icon>
        &nbsp;{{languageContent.languageChange}}
    </button>
    <button ion-item class="function-message">
      <ion-icon name="search" color="mac"></ion-icon>
        &nbsp;{{languageContent.about}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="logout()">
      <ion-icon name="disc" color="mac"></ion-icon>
        &nbsp;{{languageContent.logout}}
    </button>
    <button ion-item class="function-message" (tap)="exit()">
      <ion-icon name="disc" color="mac"></ion-icon>
        &nbsp;{{languageContent.exitApp}}
    </button>
  </ion-list>
</ion-content>
