<ion-header>
  <ion-navbar>
    <ion-title>{{'meComponent.set' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="myList">
    <button ion-item class="function-message" disabled>
      <!-- <ion-icon name="swap" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe621;</span>
        &nbsp;{{'meComponent.flowMes' | translate}}
    </button>
    <button ion-item class="function-message" (tap)="toNineCode()">
      <ion-icon name="lock" color="mac"></ion-icon>
        &nbsp;{{'meComponent.lock' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <ion-icon name="unlock" color="mac"></ion-icon>
        &nbsp;{{'meComponent.changePWD' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <ion-icon name="people" color="mac"></ion-icon>
        &nbsp;{{'meComponent.peopleResource' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <ion-icon name="calendar" color="mac"></ion-icon>
        &nbsp;{{'meComponent.canlendarSync' | translate}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="checkUpdate()">
      <!-- <ion-icon name="planet" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe639;</span>
        &nbsp;{{'meComponent.checkUpdate' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <!-- <ion-icon name="trash" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe61f;</span>
        &nbsp;{{'meComponent.dropChatNote' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <ion-icon name="trash" color="mac"></ion-icon>
        &nbsp;{{'meComponent.dropSave' | translate}}
    </button>
    <button ion-item class="function-message" (tap)="changeFont()">
      <!-- <ion-icon name="git-compare" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe6fd;</span>
        &nbsp;{{'meComponent.languageChange' | translate}}
    </button>
    <button ion-item class="function-message" disabled>
      <!-- <ion-icon name="search" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe606;</span>
        &nbsp;{{'meComponent.about' | translate}}
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="function-message" (tap)="logout()">
      <!-- <ion-icon name="disc" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe636;</span>
        &nbsp;{{'meComponent.logout' | translate}}
    </button>
    <button ion-item class="function-message" (tap)="exit()" *ngIf="plf ==='android'">
      <!-- <ion-icon name="disc" color="mac"></ion-icon> -->
      <span class="iconfontyyy" style="color: #3773F7">&#xe628;</span>
        &nbsp;{{'meComponent.exitApp' | translate}}
    </button>
  </ion-list>
</ion-content>
